{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="pt-3 text-h7 font-weight-bold">资产领用/归还
            <!-- 帮助页按钮 -->
            <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
            </v-icon>
          </div>
          <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </v-col>
        <!-- pc端的搜索条件表单 >>>>>>>> -->
        <v-col cols="12" xs="12" sm="12" md="8" xl="9" class="d-flex align-center">
          <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
            <v-col cols="12" xs="6" sm="6" md="3" xl="3" class="pa-xs-0 pb-2 px-1 pl-xs-1">
              <v-select v-model="tableGroupBy" class="jh-v-input bg-white" :items="constantObj.tableGroupBy" prefix="展示类型"
                 hide-details dense filled single-line hide-no-data />
            </v-col>
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-xs-0 pb-2 px-1 pl-xs-1">
              <v-autocomplete prefix="商品" class="jh-v-input bg-white" dense filled single-line clearable
                v-model="serverSearchInput.goodId" :items="constantObj.good" item-text="goodName" item-value="goodId"
                :no-data-text="'没有数据'">
              </v-autocomplete>
            </v-col>
            <v-col cols="12" xs="6" sm="6" md="3" xl="3" class="pa-xs-0 pb-2 px-1 pl-xs-1">
              <v-autocomplete prefix="仓库" class="jh-v-input bg-white" dense filled single-line clearable
                v-model="serverSearchInput.warehouseId" :items="constantObj.warehouse" item-text="warehouseName"
                item-value="warehouseId" :no-data-text="'没有数据'">
            </v-col>
            <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('refreshTableData')">
              查询
            </v-btn>
          </v-row>
        </v-col>
        <!-- <<<<<<<< pc端的搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <v-btn class="primary" small @click="doUiAction('startReturn', {})">资产归还</v-btn>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :group-by="tableGroupBy"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 处理列显示 -->
          <template v-slot:group.header="{items, isOpen, toggle, remove}">
            <th colspan="2">
              <v-icon @click="toggle">{{ isOpen ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
              <span v-if="tableGroupBy === 'warehouseId'">
                仓库: {{ items[0].warehouseName }}
                <span
                  role="button" class="success--text font-weight-medium font-size-2 mr-2"
                  @click="doUiAction('openAssetHistoryDialog', {item: items[0], assetHistoryViewType: 'warehouseId'})">
                  <v-icon size="16" class="success--text">mdi-home-switch-outline</v-icon>资产状态记录
                </span>
              </span>
              <span v-if="tableGroupBy === 'goodId'">
                商品: {{ items[0].goodName }}
                <span
                  role="button" class="success--text font-weight-medium font-size-2 mr-2"
                  @click="doUiAction('openAssetHistoryDialog', {item: items[0], assetHistoryViewType: 'goodId'})">
                  <v-icon size="16" class="success--text">mdi-home-switch-outline</v-icon>出库入库记录
                </span>
              </span>
            </th>
            <th colspan="1">
              库存: {{ items.length }}
            </th>
          </template>
          <template v-slot:item.action="{ item }">
            <span
              role="button" class="success--text font-weight-medium font-size-2 mr-2"
              @click="doUiAction('openAssetHistoryDialog', {item, assetHistoryViewType: 'assetId'})">
              <v-icon size="16" class="success--text">mdi-home-switch-outline</v-icon>资产状态记录
            </span>
            <span v-if="item.assetOperation === '入库' || item.assetOperation === '归还'"
              role="button" class="success--text font-weight-medium font-size-2 mr-2"
              @click="doUiAction('startReceive', {item})">
              <v-icon size="16" class="success--text">mdi-archive-arrow-down-outline</v-icon>资产领取
            </span>
          </template>

          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- <<<<<<<<<<<<< 页面内容 -->

      <!-- 出入库记录抽屉 -->
      <v-navigation-drawer v-model="isAssetHistoryDrawerShow" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <!-- 抽屉标题 -->
        <v-row>
          <span v-if="assetHistoryViewType === 'assetId'" class="title pa-6">
            【资产维度: {{updateItem.assetId}}】资产状态记录
          </span>
          <span v-if="assetHistoryViewType === 'goodId'" class="title pa-6">
            【商品维度: {{updateItem.goodName}}({{updateItem.goodId}})】资产状态记录
          </span>
          <span v-if="assetHistoryViewType === 'warehouseId'" class="title pa-6">
            【仓库维度: {{updateItem.warehouseName}}({{updateItem.warehouseId}})】资产状态记录
          </span>
        </v-row>
        <!-- 抽屉表单主体 -->
        <v-row class="mt-0 px-4">
          <asset-history :asset="updateItem" :view-type="assetHistoryViewType"
            v-if="isAssetHistoryDrawerShow"></asset-history>
        </v-row>
        <!-- 抽屉关闭按钮 -->
        <v-btn
          elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
          @click="isAssetHistoryDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>

      <!-- 领取 -->
      <v-navigation-drawer v-model="isReceiveDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="form" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">【{{receiveItem.assetId}}({{receiveItem.goodName}})】资产领取</span>
          </v-row>
          <!-- 抽屉表单 -->
          <v-row class="mt-0 px-4">
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">资产编号</span>
              <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="receiveItem['assetId']"
                :rules="validationRules.requireRules" disabled="true"></v-text-field>
            </v-col>
    
            <v-col cols="12"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">仓库</span>
              <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="receiveItem['warehouseName']"
                disabled="true"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">货架</span>
              <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="receiveItem['stockName']"
                disabled="true"></v-text-field>
            </v-col>
            <v-col cols="12"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">领取人</span>
              <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="receiveItem['assetOperationUser']"
                :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">领用人部门</span>
              <v-autocomplete class="jh-v-input mr-2" dense filled single-line hide-details clearable
                v-model="receiveItem.assetOperationDeptId" :items="deptList" item-text="deptName" item-value="deptId"
                :rules="validationRules.requireRules">
              </v-autocomplete>
    
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">备注</span>
              <v-text-field class="jh-v-input" dense filled single-line hide-details v-model="receiveItem['remark']"></v-text-field>
            </v-col>
          </v-row>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('receiveAsset')">领取</v-btn>
            <v-btn class="ml-2" small @click="isReceiveDrawerShown = false">取消
            </v-btn>
          </v-row>
        </v-form>

        <!-- 抽屉关闭按钮 -->
        <v-btn
          elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
          @click="isReceiveDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>

      <!-- 归还 -->
      <v-navigation-drawer v-model="isReturnDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="form" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">资产归还</span>
          </v-row>
          <!-- 抽屉表单 -->
          <v-row class="mt-0 px-4">
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">资产选择</span>
              <v-autocomplete class="jh-v-input mr-2" dense filled single-line hide-details clearable v-model="returnItem.assetId"
                :items="returnItem.waittingReturnAssetList" item-text="text" item-value="value" :no-data-text="'没有数据'"
                :rules="validationRules.requireRules" @change="(assetId) => {
                  const asset = returnItem.waittingReturnAssetList.find(a => a.assetId === assetId);
                  returnItem.warehouseId = asset.warehouseId;
                  returnOfWarehouseSelectChange(asset.warehouseId);
                  returnItem.stockId = asset.stockId;
                }">
              </v-autocomplete>
            </v-col>
            <v-col cols="12"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">仓库</span>
              <v-autocomplete class="jh-v-input mr-2" dense filled single-line hide-details clearable v-model="returnItem.warehouseId"
                :items="warehouseList" item-text="warehouseName" item-value="warehouseId" :rules="validationRules.requireRules"
                @change="returnOfWarehouseSelectChange">
              </v-autocomplete>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">货架</span>
              <v-select v-model="returnItem.stockId" :items="stockList" dense
                filled single-line hide-details hide-no-data item-text="stockName" item-value="stockId" :no-data-text="'没有数据'" />
            </v-col>
            <v-col cols="12"></v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">归还人</span>
              <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="returnItem['assetOperationUser']"
                :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">归还人部门</span>
              <v-autocomplete class="jh-v-input mr-2" dense filled single-line hide-details clearable
                v-model="returnItem.assetOperationDeptId" :items="deptList" item-text="deptName" item-value="deptId"
                :rules="validationRules.requireRules">
              </v-autocomplete>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">备注</span>
              <v-text-field class="jh-v-input" dense filled single-line hide-details v-model="returnItem['remark']"></v-text-field>
            </v-col>
          </v-row>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('returnAsset')">归还</v-btn>
            <v-btn class="ml-2" small @click="isReturnDrawerShown = false">取消
            </v-btn>
          </v-row>
        </v-form>

        <!-- 抽屉关闭按钮 -->
        <v-btn
          elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
          @click="isReturnDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/warehouse/assetHistoryByGoods.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vueComponent: 'page',
    vuetify: new Vuetify(),
    data: {
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '资产领用/归还',
          disabled: true,
        }
      ],
      isHelpPageDrawerShown: false,
      // 表格相关数据
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [
          v => !!v || 'This is required',
        ],
      },
      constantObj: {
        tableGroupBy: [
          { text: '按仓库', value: 'warehouseId' },
          { text: '按商品', value: 'goodId' },
        ],
      },

      serverSearchInput: {
        goodCategory: ['固定资产', '一般资产'],
        warehouseId: null,
        goodId: null,
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: '操作', value: 'action', align: 'left', sortable: false, width: 260, class: 'fixed', cellClass: 'fixed' },
        { text: "资产编号", value: "assetId", width: 150, class: 'fixed', cellClass: 'fixed' },
        { text: "商品名称", value: "goodName", width: 150, class: 'fixed', cellClass: 'fixed' },
        { text: "仓库", value: "warehouseName", width: 150 },
        { text: "货架", value: "stockName", width: 120 },

        { text: "资产状态", value: "assetOperation", width: 120 },
        { text: "资产操作人", value: "assetOperationUser", width: 120 },

        { text: "商品类型", value: "goodType", width: 120 },
        { text: "商品分类", value: "goodCategory", width: 120 },
        { text: "保质期", value: "expirationAt", width: 120 },
        { text: "入库时间", value: "storeAt", width: 260 },
        { text: "采购单", value: "purchaseOrderId", width: 150 },
        { text: "备注", value: "remark", width: 120 },
        // {text: "商品描述", value: "goodDesc", width: 150}, 
      ],
      updateItem: {},
      isAssetHistoryDrawerShow: false,

      tableGroupBy: 'warehouseId',
      assetHistoryViewType: null,

      receiveItem: {},
      isReceiveDrawerShown: false,

      returnItem: {},
      isReturnDrawerShown: false,

      warehouseList: [],
      stockList: [],
      deptList: [],
    },
    computed: {
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {},
    async created() {
      await this.doUiAction('initConstantCollection');
      await this.doUiAction('refreshTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'initConstantCollection':
            await this.selectGoodList();
            await this.selectWarehouseList();
            await this.selectDeptList();
            break;
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'openAssetHistoryDialog':
            await this.openAssetHistoryDialog(uiActionData);
            break;
          case 'startReceive':
            await this.prepareReceiveData(uiActionData);
            await this.openReceiveDialog();
            break;
          case 'receiveAsset':
            await this.prepareValidate();
            await this.confirmReceiveAssetDialog();
            await this.doReceiveAsset();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startReturn':
            await this.prepareReturnData(uiActionData);
            await this.openReturnDialog();
            break;
          case 'returnAsset':
            await this.prepareValidate();
            await this.confirmReturnAssetDialog();
            await this.doReturnAsset();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // ---------- 公共方法 uiAction >>>>>>>>>>>> --------
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },
      async refreshTableData() {
        this.isTableLoading = true;
        const where = {};
        if (this.serverSearchInput.goodId) {
          where.goodId = this.serverSearchInput.goodId;
        }
        if (this.serverSearchInput.warehouseId) {
          where.warehouseId = this.serverSearchInput.warehouseId;
        }
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectItemList',
              actionData: {},
              where,
              whereIn: {
                goodCategory: this.serverSearchInput.goodCategory,
              },
              // whereOptions: [
              //   ['storeCountOfConsume', '>', 0],
              // ],
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      async selectGoodList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectGoodList',
              actionData: {},
              whereIn: { goodCategory: this.serverSearchInput.goodCategory },
              where: { rowStatus: '正常' },
              orderBy: [{ column: 'goodName', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.constantObj.good = rows;
      },
      async selectWarehouseList() {
        const warehouseList = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectWarehouseList',
              actionData: {},
              where: { rowStatus: '正常' },
            }
          }
        })).data.appData.resultData.rows;
        const allStockList = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectStockList',
              actionData: {},
              where: { rowStatus: '正常' },
            }
          }
        })).data.appData.resultData.rows;
        warehouseList.forEach(wh => {
          wh.stockList = allStockList.filter(stock => wh.warehouseId === stock.warehouseId);
        });
        this.warehouseList = warehouseList;
      },
      async selectDeptList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectDeptList',
              actionData: {},
              orderBy: [{ column: 'deptName', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.deptList = rows;
      },
      // ---------- <<<<<<<<<<< 公共方法 uiAction ---------

      // ---------- 资产记录 uiAction >>>>>>>>>>>> --------
      async openAssetHistoryDialog({ item, assetHistoryViewType }) {
        this.updateItem = item;
        this.isAssetHistoryDrawerShow = true;
        this.assetHistoryViewType = assetHistoryViewType;
      },
      // ---------- <<<<<<<<<<< 资产记录 uiAction ---------

      // ---------- 领取 uiAction >>>>>>>>>>>> --------
      async prepareReceiveData({ item }) {
        const { assetOperation, assetOperationUser, remark, ...receiveItem } = item;
        this.receiveItem = receiveItem
      },
      async openReceiveDialog() {
        this.isReceiveDrawerShown = true;
      },
      async confirmReceiveAssetDialog() {
        if (await window.confirmDialog({ title: "领取", content: "确定领取吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doReceiveAsset() {
        const { id, assetId, assetOperationUser, assetOperationDeptId, remark } = this.receiveItem;
        const assetOperation = '领取';
        await window.vtoast.loading("资产领取");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'assetOperation',
              actionData: {
                assetId,
                assetOperation, assetOperationUser, assetOperationDeptId, remark
              },
            }
          }
        })
        await window.vtoast.success("资产领取成功");
      },
      // ---------- <<<<<<<<<<< 领取 uiAction ---------

      // ---------- 归还 uiAction >>>>>>>>>>>> --------
      async prepareReturnData({ }) {
        this.stockList = [];
        this.returnItem = {};
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'selectItemList',
              actionData: {},
              where: {
                assetOperation: '领取',
              },
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        rows.map(row => {
          row.text = `${row.goodName}(${row.assetId})`;
          row.value = row.assetId;
        })
        this.returnItem.waittingReturnAssetList = rows;
      },
      async openReturnDialog() {
        this.isReturnDrawerShown = true;
      },
      async confirmReturnAssetDialog() {
        if (await window.confirmDialog({ title: "归还", content: "确定归还吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doReturnAsset() {
        const { id, assetId, warehouseId, stockId, assetOperationUser, assetOperationDeptId, remark } = this.returnItem;
        const assetOperation = '归还';
        await window.vtoast.loading("资产归还");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouse/assetOutWarehouse',
              actionId: 'assetOperation',
              actionData: {
                assetId, warehouseId, stockId, assetOperation, assetOperationUser, assetOperationDeptId, remark
              },
            }
          }
        })
        await window.vtoast.success("资产归还成功");
      },
      async closeDrawerShow() {
        this.isReceiveDrawerShown = false;
        this.isReturnDrawerShown = false;
      },

      async returnOfWarehouseSelectChange(warehouseId) {
        this.returnItem.stockId = null;
        const wh = this.warehouseList.find(wh => wh.warehouseId === warehouseId);
        this.stockList = wh.stockList;
      },
      // ---------- <<<<<<<<<<< 归还 uiAction ---------
    }
  })
</script>

<style scoped>
</style>
{% endblock %}