<template id="consumeManagement-consumeHistory"> 
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
      <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
  
        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>
  
        <v-spacer></v-spacer>
  
        <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
          <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table fixed-header
                    :headers="headers"
                    :items="tableData"
                    :search="searchInput"
                    :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                    :items-per-page="100"
                    mobile-breakpoint="0"
                    :loading="isTableLoading"
                    checkbox-color="success"
                    class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
            <template v-slot:item.consume-operation-count="{ item }">
              {{item.consumeOperationCount}}/{{item.goodUnit}}
            </template>
            <template v-slot:item.consume-operation-info="{ item }">
              <span v-if="item.purchaseOrderId">{{item.purchaseTitle}}({{item.purchaseOrderId}})</span>
            </template>
            <template v-slot:item.remark-01="{ item }">
              {{item.remark}}
              <span v-if="item.purchaseOrderId">{{item.purchaseTitle}}({{item.purchaseOrderId}})</span>
            </template>
            </template>
            <template v-slot:item.consumeOperationAt="{ item }">

                   {{ item.consumeOperationAt && dayjs(item.consumeOperationAt).format('YYYY-MM-DD HH:mm:ss') }}

             </template>
            
      </v-data-table>
  </v-container>
</template>

<script>
Vue.component("consumeManagement-consumeHistory", {
  template: '#consumeManagement-consumeHistory',
  props: {  
    consume: {
      type: Object,
      default: () => {
        return {
          consumeId: null,
          goodId: null,
          warehouseId: null,
        }
      },
    },
    viewType: { 
      type: String,
      default: 'consumeId', // consumeId goodId warehouseId
    },
  },
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || '必填',
    ],
    constantCollection: {
    },

    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "仓库名", value: "warehouseName", width: 120, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "货架", value: "stockName", width: 120, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "商品名", value: "goodName", width: 120},
      {text: "操作数量", value: "consume-operation-count", width: 120}, 
      {text: "操作类型", value: "consumeOperation", width: 120}, 
      {text: "操作人", value: "consumeOperationUser", width: 120}, 
      {text: "操作人部门", value: "deptName", width: 120}, 
      {text: "备注", value: "remark-01", width: 120}, 
      {text: "操作时间", value: "consumeOperationAt", width: 260, class: 'fixed', cellClass: 'fixed'}, 
    ],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {
     goodId() {
       this.tableDataFromBackend= []
       this.doUiAction('refreshTableData');
     },
  },
  async created() {
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const where = {};
      if (this.viewType === 'consumeId') {
        where.consumeId = this.consume.consumeId;
      }
      if (this.viewType === 'goodId') {
        where.goodId = this.consume.goodId;
      }
      if (this.viewType === 'warehouseId') {
        where.warehouseId = this.consume.warehouseId;
      }
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'consumeManagement',
            actionId: 'consumeHistory-selectItemList',
            actionData: {},
            where,
            orderBy: [{column: 'consumeOperationAt', order: 'desc'}]
          }
        }
      });
      let { rows } = result.data.appData.resultData;
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


  }
})
</script>
