<template id="warehouseManagement-stock">
  <div>
    <!-- 组件内容 -->
    <v-card class="rounded-lg">
      <v-row class="ma-0 pa-4">
        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
          <v-btn color="success" small dark class="elevation-0 mr-2"
            @click="doUiAction('startCreateItem')">仓库-新增货架</v-btn>
        </v-col>
        <v-spacer></v-spacer>
        <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pr-1">
          <row-status-select :value="serverSearchInput.rowStatus" :bg-white="false" @update-value="serverSearchInput.rowStatus=$event" />
        </v-col>
        <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pl-1">
          <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table :dense="dense" fixed-header :headers="headers" :items="tableData" :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
        :items-per-page="50" mobile-breakpoint="0" :loading="isTableLoading" checkbox-color="success"
        class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        <template v-slot:item.action="{ item }">
          <span role="button" class="success--text font-weight-medium font-size-2 mr-2"
            @click="doUiAction('startUpdateItem', {item})">
            <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
          </span>
          <row-status-switch-button :value="item.rowStatus"
            @update-value="doUiAction('rowStatusChange', { item, rowStatus: $event })" />
        </template>

        <!-- 没有数据 -->
        <template v-slot:loading>
          <div class="jh-no-data">数据加载中</div>
        </template>
        <template v-slot:no-data>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <template v-slot:no-results>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <!-- 表格分页 -->
        <template v-slot:footer.page-text="pagination">
          <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
          <span class="ml-1">共{{pagination.itemsLength}}条</span>
        </template>
      </v-data-table>
    </v-card>

    <!-- 新增 -->
    <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right
      width="80%" class="elevation-24">
      <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row>
          <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">{{ warehouseName &&
            `【${warehouseName}】-` }}新增货架</span>
        </v-row>
        <!-- 抽屉表单 -->
        <v-row class="mt-0 px-4">
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">货架名</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['stockName']"
              :rules="requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">备注</span>
            <v-textarea class="jh-v-input " dense filled single-line v-model="addItem['remark']"></v-textarea>
          </v-col>
        </v-row>
        <v-row class="justify-end pr-6">
          <v-btn color="success" @click="doUiAction('createItem')" >新增</v-btn>
          <v-btn class="ml-2" @click="isCreateDrawerShown = false" >取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isCreateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>


    <!-- 编辑抽屉 -->
    <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right
      width="80%" class="elevation-24">
      <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row>
          <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">【{{ warehouseName }}】-编辑货架信息</span>
        </v-row>
        <!-- 抽屉表单 -->
        <v-row class="mt-0 px-4">
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">货架名</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['stockName']"
              :rules="requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">备注</span>
            <v-textarea class="jh-v-input " dense filled single-line v-model="updateItem['remark']"></v-textarea>
          </v-col>
        </v-row>
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
          <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isUpdateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
  </div>
</template>

<script type="module">
  Vue.component("warehouseManagement-stock", {
    template: '#warehouseManagement-stock',
    props: ['warehouseId', 'warehouseName', 'dense'],
    vuetify: new Vuetify(),
    data: () => ({
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantObj: {
      },

      searchInput: null,
      serverSearchInput: {
        rowStatus: ['正常'],
      },
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        // {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},

        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
        { text: "货架Id", value: "stockId", width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "货架名", value: "stockName", width: 120, class: 'fixed', cellClass: 'fixed' },
        // {text: "仓库编号", value: "warehouseId", width: 120}, 
        { text: "备注", value: "remark", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
      ],
      isUpdateDrawerShown: false,
      updateItem: {},
      isCreateDrawerShown: false,
      addItem: {}
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend.filter(item => {
          return this.serverSearchInput.rowStatus.includes(item.rowStatus);
        });
      }
    },
    watch: {
      warehouseId(val) {
        this.serverSearchInput.rowStatus = ['正常'];
        this.doUiAction('refreshTableData');
      },
    },
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.prepareValidate();
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.prepareValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          case 'rowStatusChange':
            await this.rowStatusChange(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouseManagement',
              actionId: 'stock-selectItemList',
              actionData: {},
              where: {
                warehouseId: this.warehouseId
              },
              whereIn: {rowStatus: ['正常', '回收站']},
              orderBy: [{ column: 'stockName', order: 'asc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      // =================================uiAction 公共方法 end ======================================


      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
      },
      async openCreateItemDialog() {
        this.isCreateDrawerShown = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        data.warehouseId = this.warehouseId;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouseManagement',
              actionId: 'stock-insertItem',
              actionData: data,
              idGenerate: {
                type: 'idSequence',
                prefix: 'HJ',
                bizId: 'stockId',
                tableName: 'stock',
              }
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },
      async closeDrawerShow() {
        this.isUpdateDrawerShown = false;
        this.isCreateDrawerShown = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        this.updateItem = { ...item };
      },
      async openUpdateDialog() {
        this.isUpdateDrawerShown = true;
      },
      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doUpdateItem() {
        const { id, ...data } = this.updateItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouseManagement',
              actionId: 'stock-updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouseManagement',
              actionId: 'stock-deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      async rowStatusChange({ item, rowStatus }) {
        if (await window.confirmDialog({ title: "数据状态", content: `确定将数据修改为【${rowStatus}】吗？` }) === false) {
          throw new Error("rowStatus 取消");
        }
        await window.vtoast.loading("修改数据状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'warehouseManagement',
              actionId: 'stock-updateItem',
              actionData: { rowStatus },
              where: { id: item.id }
            }
          }
        });
        item.rowStatus = rowStatus;
        await window.vtoast.success("修改数据状态成功");
      }
    }
  })
</script>