<template id="goods-select">
  <v-container class="pa-0">
    <v-card elevation="0" outlined>
      <v-data-table :loading="loading" :headers="headers" :items="value" hide-default-footer
        class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

        <template v-slot:item.good-id="{ item }">
          <v-autocomplete :loading="loadingGoodList" class="jh-v-input mr-2" dense filled single-line clearable
            label="选择商品" v-model="item.goodId" :items="goodList" item-text="goodName" item-value="goodId"
            :rules="requireRules" hide-details @change="onGoodIdChange($event, item)"></v-autocomplete>
        </template>
        <template v-slot:item.good-count="{ item }">
          <v-text-field class="jh-v-input mr-2" dense filled single-line v-model.number="item.goodCount" type="number"
            hide-details :rules="[
              () => (item.goodCount % 1 === 0 ) || '请填写整数',
              () => !(0 >= item.goodCount) || '请填写数量',
            ]">
          </v-text-field>
        </template>
        <template v-slot:item.good-category="{ item }">
          {{ item.goodCategory }}
        </template>
        <template v-slot:item.good-suggest-price="{ item }">
          {{ item.goodSuggestPrice }}
        </template>
        <template v-slot:item.supplier-count="{ item }">
          <font color="red" v-if="item.goodId && !item.supplierCount">0</font>
          <font v-if="item.supplierCount">{{ item.supplierCount }}</font>
        </template>
        <template v-slot:item.action="{ item, index }">
          <v-btn small class="error" @click="doUiAction('deleteItem', {item, index})">删除</v-btn>
        </template>
      </v-data-table>
    </v-card>
    <v-btn class="add-btn" @click="doUiAction('addItem')">添加商品</v-btn>
  </v-container>
</template>

<script type="module">
  Vue.component("goods-select", {
    template: '#goods-select',
    props: {
      value: {
        type: Array,
        default: () => [],
      },
      goodList: {
        type: Array,
        default: () => [],
      },
      loading: {
        type: Boolean,
        default: false,
      }
    },
    data: () => ({
      requireRules: [
        v => !!v || '必填',
      ],
      loadingGoodList: false,
      headers: [
        { text: "商品", value: "good-id", width: 120 },
        { text: "商品分类", value: "good-category", width: 80 },
        { text: "供应商数", value: "supplier-count", width: 80 },
        { text: "采购数量", value: "good-count", width: 80 },
        { text: "单位", value: "goodUnit", width: 80 },
        { text: "库存", value: "storeCount", width: 80 },
        { text: "商品指导价", value: "good-suggest-price", width: 120 },
        // { text: "备注", value: "remarks", width: 120 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 100, class: 'fixed', cellClass: 'fixed' },
      ]
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      }
    },
    watch: {
      loading: {
        handler(newValue, oldValue) {
          this.updateValueGoodInfo()
        },
      }
    },
    async created() {
    },
    async mounted() {
      await this.updateValueGoodInfo()
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'addItem':
            await this.doAddItem();
            break;
          case 'deleteItem':
            await this.doDeleteItem(uiActionData);
            break;

          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },


      async updateValueGoodInfo() {
        if (this.value) {
          let value = this.value.map(item => {
            if (item && item.goodId) {
              const good = this.goodList.find(good => good.goodId === item.goodId);
              if (good) {
                item.goodUnit = good.goodUnit;
                item.supplierCount = good.supplierCount;
                item.goodSuggestPrice = good.goodSuggestPrice;
                item.storeCount = good.storeCount;
                item.goodCategory = good.goodCategory;
              }
            }
            return item;
          });
          this.$emit('input', value);
        }
      },
      async doAddItem() {
        this.$emit("input", [...this.value, { goodName: null, goodUnit: null, goodSuggestPrice: null, stock: null, goodCount: 1 }]);
      },
      async doDeleteItem({ index }) {
        let list = _.cloneDeep(this.value);
        list.splice(index, 1);
        this.$emit("input", list);
        this.$emit("change", list);
      },
      async onGoodIdChange(goodId, item) {
        await this.checkGoodExist(goodId, item);
        let goodItem = this.goodList.find(x => x.goodId == goodId);
        item.goodUnit = goodItem.goodUnit;
        item.supplierCount = goodItem.supplierCount;
        item.goodSuggestPrice = goodItem.goodSuggestPrice;
        item.storeCount = goodItem.storeCount;
        item.goodName = goodItem.goodName;
        item.goodCategory = goodItem.goodCategory;
        this.$forceUpdate()
      },
      async checkGoodExist(goodId, item) {
        return new Promise((resolve, reject) => {
          if (this.value.filter(x => x.goodId == goodId).length > 1) {
            window.vtoast.fail("商品已存在");
            item.goodId = null;
            return
          }
          resolve();
        });
      }
    }
  })
</script>
<style>
  .add-btn {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
  }
</style>