<template id="preview-file-group">
  <v-container class="pa-0">
    <div class="img-group" v-if="false">
      <div class="img" v-for="(item, index) in fileList" @click="doUiAction('previewFile', { item })"
        :style="`background-image: url(/<$ ctx.app.config.appId $>/upload${item.downloadPath})`"></div>
    </div>
    <div class="file-group">
      <div class="file" v-for="(item, index) in fileList">
        <v-btn small class="mr-2 primary" v-if="item.downloadPath"
          @click="doUiAction('previewFile', { item })">查看</v-btn>
        <v-btn small class="mr-2 primary" v-if="item.downloadPath"
          @click="doUiAction('downloadFile', { item })">下载</v-btn>
      </div>
    </div>

    <!-- 文件预览 -->
    <v-overlay :value="previewOverlay" @click="previewOverlay = false" :opacity="0.85" style="z-index: 11">
      <v-icon style="position: fixed; right: 10px; top: 5px; z-index: 50000" large color="white"
        @click="previewOverlay = false">
        mdi-close-circle
      </v-icon>
      <v-icon style="position: fixed; right: 50px; top: 5px; z-index: 50000" large color="white"
        @click="doUiAction('downloadPreviewFile')">
        mdi-download
      </v-icon>
      <iframe v-if="previewFileType === 'pdf'"
        :src="'/<$ ctx.app.config.appId $>/public/pdf/web/viewer.html?file=' + previewFileUrl" frameborder="0"
        style="width: 75vw; height: 100vh; padding: 50px 0 0 0;"></iframe>

      <v-img v-if="previewFileType === 'img'" max-height="80vw" max-width="75vw" :src="previewFileUrl"></v-img>
    </v-overlay>
  </v-container>
</template>

<script type="module">
  Vue.component("preview-file-group", {
    template: '#preview-file-group',
    props: {
      fileList: {
        type: Array,
        default: () => [],
      }
    },
    mounted() {
    },
    data: () => ({
      previewPrefix: `/<$ ctx.app.config.appId $>/upload`,
      previewOverlay: false,
      previewFileUrl: null,
      previewFileBase64: '',
      previewFilename: '',
      previewFileType: '',
      downloadPath: '',

    }),
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'previewFile':
            await this.previewFile(uiActionData);
            break;
          case 'downloadFile':
            await this.downloadFile(uiActionData);
            break;
          case 'downloadPreviewFile':
            await this.downloadPreviewFile(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      /**
       * uiActionId: downloadFile
       * description: ✅下载
       * main:   [{"function":"downloadFile"}]
       */
      async downloadFile({ item }) {
        const { filename, downloadPath } = item;
        window.vtoast.loading('文件下载进度0.00%');
        const buffer = await window.jianghuAxios.httpDownloadByStream({
          downloadPath, filename,
          onProgress: (total, loaded) => {
            const progress = Number((loaded * 100 / total).toFixed(2));
            window.vtoast.loading(`文件下载进度${progress}%`);
            if (progress === 100) {
              window.vtoast.success('文件下载成功');
            }
          }
        }).catch(err => {
          window.vtoast.fail({ message: err.errorReason });
          throw err;
        });
        window.jianghuAxios.downloadBufferToChrome({ buffer, filename });
      },
      /**
       * uiActionId: previewFile
       * description: ✅预览文件
       * main:   [{"function":"previewFile"}]
       */
      async previewFile({ item }) {
        const { filename, downloadPath, binarySize } = item;
        if (binarySize > 7 * 1024) {
          window.vtoast.fail('文件大于7M, 不支持预览!');
          // 中断uiAction
          return false;
        }
        this.filename = filename;
        if (/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename)) {
          this.previewFileType = 'img';
          this.previewFileUrl = `/<$ ctx.app.config.appId $>/upload${downloadPath}`;
        }
        if (/\.(pdf|PDF)$/.test(filename)) {
          this.previewFileType = 'pdf';
          this.previewFileUrl = encodeURIComponent(`/<$ ctx.app.config.appId $>/upload${downloadPath}`);
        }
        this.previewFilename = filename;
        this.previewOverlay = true;
        this.downloadPath = downloadPath;

      },

      /**
       * uiActionId: downloadPreviewFile
       * description: ✅下载正在预览的文件
       * main:   [{"function":"downloadPreviewFile"}]
      */
      async downloadPreviewFile() {
        const oReq = new XMLHttpRequest();
        const url = `/<$ ctx.app.config.appId $>/upload${this.downloadPath}`;
        const filename = this.previewFilename;
        oReq.open("GET", url, true);
        oReq.responseType = "arraybuffer";
        oReq.onprogress = function (event) {
          if (event.lengthComputable) {
            const progress = Number((event.loaded * 100 / event.total).toFixed(2));
            window.vtoast.loading(`文件下载进度${progress}%`);
            if (progress === 100) {
              window.vtoast.success('文件下载成功');
            }
          }
        }
        oReq.onload = function (oEvent) {
          const buffer = oReq.response;
          let url = window.URL.createObjectURL(new Blob([buffer], { type: "arraybuffer" }))
          const link = document.createElement('a');
          link.style.display = 'none';
          link.href = url;
          link.setAttribute('download', filename);
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        };
        oReq.send(null);
      },
    }
  })
</script>
<style>
  .add-btn {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
  }

  .img-group {
    display: flex;
  }

  .img-group .img {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-right: 5px;
    cursor: pointer;
  }

  .img-group .img :last-child {
    margin-right: 0;
  }

  .file-group {
    margin: 5px 0;
  }

  .file-group .file {
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .file-group .file:last-child {
    margin-bottom: 0;
  }
</style>