{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
  <v-app mobile-breakpoint="sm">
    <jh-menu />
    <v-main class="mt-15">
      <!-- 头部内容 >>>>>>>>>>>>> -->
      <div class="jh-page-second-bar px-8">
        <v-row>
          <v-col cols="12" xs="12" sm="12" md="4" xl="3">
            <div class="pt-3 text-h7 font-weight-bold">采购申请
              <!-- 帮助页按钮 -->
              <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
              </v-icon>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </v-col>
          <!-- pc端的搜索条件表单 >>>>>>>> -->
          <v-col cols="12" xs="12" sm="12" md="8" xl="9">
            <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
              <v-col cols="12" xs="6" sm="6" md="6" xl="6" class="pa-xs-0 pb-2 pl-1 pl-xs-1">
                <v-select v-model="serverSearchInput.purchaseStatus" color="success" class="jh-v-input bg-white" :items="constantObj.purchaseStatus" multiple dense filled single-line></v-select>
              </v-col>
              <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('refreshTableData')">
                查询
              </v-btn>
            </v-row>
          </v-col>
          <!-- <<<<<<<< pc端的搜索条件表单 -->
        </v-row>
      </div>
      <!-- <<<<<<<<<<<<< 头部内容 -->

      <div class="jh-page-body-container px-8">
        <!-- 页面内容 >>>>>>>>>>>>> -->
        <v-card class="rounded-lg">
          <v-row class="ma-0 pa-4">
            <!-- 新增按钮 -->
            <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
              <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新建采购单</v-btn>
              <span class="body-2">共{{ tableData.length }}条记录</span>
            </v-col>
            <v-spacer></v-spacer>
            <!-- 搜索 -->
            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
              <v-text-field v-model="searchInput" color="success" prefix="搜索：" class="jh-v-input" dense filled single-line hide-details></v-text-field>
            </v-col>
          </v-row>
          <!-- 表格 -->
          <v-data-table
            :headers="headers"
            :items="tableData"
            :search="searchInput"
            :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
            :items-per-page="-1"
            mobile-breakpoint="0"
            :loading="isTableLoading"
            :class="{'zebraLine': isTableZebraLineShown }"
            checkbox-color="success"
            fixed-header
            class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
            <!-- 表格行操作按钮 -->
            <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                More info about {{ item.name }}
              </td>
            </template>
            <template v-slot:item.action="{ item }">

              <span v-if="item.purchaseStatus == '草稿'" role="button" class="success--text jh-font-size-3 pr-2"
                    @click="doUiAction('startUpdateItem', {item})">
                <v-icon size="14" class="success--text">mdi-note-edit-outline</v-icon>修改
              </span>
              <span v-if="item.purchaseStatus == '草稿'" role="button" class="success--text jh-font-size-3 pr-2"
                    @click="doUiAction('deleteItem', {item})">
                <v-icon size="14" class="success--text">mdi-trash-can-outline</v-icon>删除
              </span>
              <span v-if="item.purchaseStatus == '采购询价'" role="button" class="success--text jh-font-size-3 pr-2"
                    @click="doUiAction('doRecallItem', {item})">
                <v-icon size="14" class="success--text">mdi-arrow-u-left-top</v-icon>撤回
              </span>
              <span role="button" class="success--text jh-font-size-3 pr-2"
                    @click="doUiAction('doViewDetail', {item})">
                <v-icon size="14" class="success--text">mdi-text-box-outline</v-icon>查看详情
              </span>
            </template>
            <template v-slot:item.applyAt="{ item }">
              {{ item.applyAt && dayjs(item.applyAt).format('YYYY-MM-DD HH:mm:ss') }}
            </template>
            <template v-slot:item.finishAt="{ item }">
              {{ item.finishAt && dayjs(item.finishAt).format('YYYY-MM-DD HH:mm:ss') }}
            </template>

            <!-- 表格底部右侧功能按钮 -->
            <template v-slot:footer.prepend>
              <v-menu top offset-y :close-on-content-click="false">
                <template v-slot:activator="{on, attrs}">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-menu</v-icon>
                  </v-btn>
                </template>
                <v-switch v-model="isTableZebraLineShown" hide-details class="mx-3 my-2" label="显示斑马纹" dense flat></v-switch>
              </v-menu>
            </template>
            <!-- 没有数据 -->
            <template v-slot:loading>
              <div class="jh-no-data">数据加载中</div>
            </template>
            <template v-slot:no-data>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <template v-slot:no-results>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <!-- 表格底部右侧分页 -->
            <template v-slot:footer.page-text="pagination">
              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
              <span class="ml-1">共{{pagination.itemsLength}}条</span>
            </template>
          </v-data-table>
        </v-card>

        <!-- 新增抽屉 -->
        <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <v-form ref="createForm" lazy-validation>
            <!-- 抽屉标题 -->
            <v-row>
              <span class="title pa-6 pl-8">修改采购单</span>
            </v-row>
            <!-- 抽屉表单 -->
            <v-row class="mt-0 px-6">
              <v-col cols="12" sm="12" md="6">
                <span class="jh-input-label">标题</span>
                <v-text-field class="jh-v-input " dense filled single-line hide-details v-model="addItem['purchaseTitle']" :rules="requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <span class="jh-input-label">申购部门</span>
                <v-autocomplete 
                    class="jh-v-input mr-2" 
                    dense filled single-line clearable hide-details
                    v-model="addItem.purchaseDeptId" 
                    :items="deptList" 
                    item-text="deptName" 
                    item-value="deptId"
                    :rules="requireRules"
                    @change="(deptId) => {
                      const dept = deptList.find(dept => dept.deptId === deptId);
                      addItem.purchaseDeptId = dept.deptId;
                      addItem.purchaseDeptName = dept.deptName;
                    }">
                </v-autocomplete>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">申购商品</span>
                <goods-select :good-list="goodList" v-model="addItem['goodList']" :rules="goodListRules"/>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">审批流程</span>
                <v-autocomplete class="jh-v-input mr-2" dense filled single-line clearable hide-details label="选择审批流程" 
                    v-model="addItem['workflowId']" 
                    :items="workflowList" 
                    item-text="workflowName" item-value="workflowId" 
                    :rules="requireRules" 
                    :rules="requireRules"
                    @change="doUiAction('handleWorkflowProcessChange', $event)">
                  </v-autocomplete>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">审批人修改</span>
                <v-row v-for="item in workflowPersonList">
                  <v-col cols="2">
                    <v-text-field class="jh-v-input " dense filled single-line v-model="item.label" disabled hide-details></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-autocomplete 
                      class="jh-v-input mr-2" 
                      dense filled single-line clearable hide-details
                      :items="userList" 
                      item-text="username" 
                      item-value="userId"
                      multiple
                      :rules="requireRules"
                      v-model="item.assignValue">
                    </v-autocomplete>
                  </v-col>
                  <v-col cols="4">
                    <v-checkbox dense filled v-model="item.isNeedAllApproval" label="是否需要所有人审批" hide-details ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">备注</span>
                <v-textarea dense filled single-line v-model="addItem['remark']" hint="填写备注（如功能需求、是否要回单或反馈等）" ></v-textarea>
              </v-col>
            </v-row>
            <!-- 抽屉操作按钮 -->
            <v-row class="justify-end mx-0 mt-8 px-6">
              <v-btn color="orange" dark @click="doUiAction('createItemSaveDraft')" small>保存草稿</v-btn>
              <v-btn class="ml-2" color="success" @click="doUiAction('createItem')" small>保存</v-btn>
              <v-btn class="elevation-0 ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
            </v-row>
          </v-form>
          <!-- 抽屉关闭按钮 -->
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>

        <!-- 编辑抽屉 -->
        <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <v-form ref="updateForm" lazy-validation>
            <!-- 抽屉标题 -->
            <v-row>
              <span class="title pa-6 pl-8">修改采购单</span>
            </v-row>
            <!-- 抽屉表单 -->
            <v-row class="mt-0 px-6">
              <v-col cols="12" sm="12" md="6">
                <span class="jh-input-label">标题</span>
                <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['purchaseTitle']" :rules="requireRules" hide-details></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <span class="jh-input-label">申购部门</span>
                <v-select v-model="updateItem.purchaseDeptId"
                  :items="deptList" class="mr-2" hide-details dense filled single-line hide-no-data
                  item-text="deptName"
                  item-value="deptId"
                  @change="(deptId) => {
                    const dept = deptList.find(dept => dept.deptId === deptId);
                    updateItem.purchaseDeptId = dept.deptId;
                    updateItem.purchaseDeptName = dept.deptName;
                  }"
                  /> 
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">申购商品</span>
                <goods-select :loading="purchaseOrderGoodTableLoading" :good-list="goodList" v-model="updateItem['goodList']"/>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">审批流程</span>
                <v-autocomplete class="jh-v-input mr-2" dense filled single-line clearable label="选择审批流程" v-model="updateItem['workflowId']" :items="workflowList" item-text="workflowName" item-value="workflowId" :rules="requireRules" hide-details></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">审批人修改</span>
                <v-row v-for="item in workflowPersonList">
                  <v-col cols="2">
                    <v-text-field class="jh-v-input " dense filled single-line v-model="item.label" disabled hide-details></v-text-field>
                  </v-col>
                  <v-col cols="4">
                    <v-autocomplete 
                      class="jh-v-input mr-2" 
                      dense filled single-line clearable hide-details
                      :items="userList" 
                      item-text="username" 
                      item-value="userId"
                      multiple
                      :rules="requireRules"
                      v-model="item.assignValue">
                    </v-autocomplete>
                  </v-col>
                  <v-col cols="4">
                    <v-checkbox dense filled v-model="item.isNeedAllApproval" label="是否需要所有人审批" hide-details ></v-checkbox>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12">
                <span class="jh-input-label">备注</span>
                <v-textarea dense filled single-line v-model="updateItem['remark']" hint="填写备注（如功能需求、是否要回单或反馈等）" ></v-textarea>  
              </v-col>
            </v-row>
            <!-- 抽屉操作按钮 -->
            <v-row class="justify-end mx-0 mt-8 px-6">
              <v-btn color="orange" dark @click="doUiAction('updateItemSaveDraft')" small>保存草稿</v-btn>
              <v-btn class="ml-2" color="success" @click="doUiAction('updateItem')" small>保存</v-btn>
              <v-btn class="elevation-0 ml-2" @click="isUpdateDrawerShown = false" small>取消</v-btn>
            </v-row>
          </v-form>
          <!-- 抽屉关闭按钮 -->
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>

        <!-- 详情抽屉 -->
        <v-navigation-drawer v-model="isDetailDrawerShown" :permanent="isDetailDrawerShown" fixed temporary right width="80%" class="elevation-24">
          <v-row>
            <span class="title pa-6 pl-8">采购单详情</span>
          </v-row>
          <purchase-order-detail 
          :purchase-order="updateItem" @close-detail-drawer="doUiAction('closeDetailDrawer')" />
          <!-- 抽屉关闭按钮 -->
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isDetailDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 页面内容 -->
      </div>

      <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#workflowManagement.md`" width="100%" height="100%"></iframe>
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
               @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

    </v-main>
  </v-app>

  <jh-toast />
  <jh-mask />
  <jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/purchase/flow/processFlow.html' %}
{% include 'component/purchase/flow/editFlow.html' %}
{% include 'component/purchase/flow/editLine.html' %}
{% include 'component/purchase/flow/editNode.html' %}
{% include 'component/purchase/previewFileGroup.html' %}
{% include 'component/purchase/purchaseOrderDetail.html' %}

{% include 'component/purchase/goodsSelect.html' %}
{% include 'component/purchase/purchaseOrderStatusSelect.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vueComponent: 'page',
  vuetify: new Vuetify(),
  data: {
    // 面包屑
    breadcrumbs: [
      {text: '首页', disabled: true,},
      {text: '采购流程curd', disabled: true,}
    ],
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    isTableLoading: false,
    tableDataFromBackend: [],
    tableData: [],
    searchInput: '',
    isHelpPageDrawerShown: false,
    isTableZebraLineShown: true,

    requireRules: [
      v => !!v || '必填',
    ],
    goodListRules: [
      v => v.length > 0 || 'Name must be less than 10 characters',
    ],
    constantObj: {
      purchaseStatus: [
        { text: "草稿", value: "草稿" },
        { text: "采购询价", value: "采购询价" },
        { text: "审核中", value: "审核中" },
        { text: "采购中", value: "采购中" },
        { text: "采购完成", value: "采购完成" },
        { text: "审核失败", value: "审核失败" },
      ]
    },

    serverSearchInput: {
      purchaseStatus: ['草稿', '采购询价', '审核中', '采购中', '采购完成', '审核失败'],
    },
    headers: [
      // {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},
       
      {text: '操作', value: 'action', align: 'left', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
      {text: "采购订单ID", value: "purchaseOrderId", width: 100, class: 'fixed', cellClass: 'fixed'}, 
      {text: "采购标题", value: "purchaseTitle", width: 130, class: 'fixed', cellClass: 'fixed'}, 
      {text: "审批流", value: "workflowName", width: 130}, 
      {text: "申购部门", value: "purchaseDeptName", width: 120}, 
      {text: "申购人", value: "purchaseRequirerName", width: 120}, 
      {text: "采购人", value: "purchasePurchaserName", width: 120}, 
      {text: "状态", value: "purchaseStatus", width: 120}, 
      {text: "备注", value: "remark", width: 120}, 
      {text: "申请采购时间", value: "applyAt", width: 250},
      {text: "完成采购时间", value: "finishAt", width: 250},
    ],
    isCreateDrawerShown: false,
    addItem: {},
    isUpdateDrawerShown: false,
    updateItem: {},
    workflowList: [ ],
    goodList: [],
    deptList: [],
    userDept: {},
    userList: [],
    purchaseOrderGoodTableLoading: false,
    workflowPersonList: [],
    isDetailDrawerShown: false,
    selectedPurchaseOrderId: null,
    selectedWorkflowTaskId: null,
  },
  watch: {},
  created() {
    this.getWorkflowList();
    this.doUiAction('refreshTableData');
    this.doUiAction('getGoodList');
    this.doUiAction('getDeptList');
    this.doUiAction('getUserDept');
    this.doUiAction('getUserList');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'doViewDetail':
          await this.doViewDetail(uiActionData);
          break;
          
        case 'handleWorkflowProcessChange':
          await this.handleWorkflowProcessChange(uiActionData);
          break;
        case 'getUserDept':
          await this.getUserDept();
          break;
        case 'getUserList':
          await this.getUserList();
          break;
        case 'getGoodList':
          await this.getGoodList();
          break;
        case 'getDeptList':
          await this.getDeptList();
          break;  
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItemSaveDraft':
          await this.prepareValidate();
          await this.doCreateItemSaveDraft();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'createItemSubmit':
          await this.prepareValidate();
          await this.confirmSubmitItemDialog();
          await this.doCreateItemSubmit();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          await this.getPurchaseOrderGoodList(uiActionData)

          break;
        case 'updateItemSaveDraft':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItemSaveDraft();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'updateItemSubmit':
          await this.doUpdateItemSubmit(uiActionData);
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        case 'doRecallItem':
          await this.confirmRecallItemDialog();
          await this.doRecallItem(uiActionData);
          await this.refreshTableData();
          break;
          
        case 'doToDetailPage':
          await this.toDetailPage(uiActionData);
          break;
        case 'closeDetailDrawer':
          await this.closeDetailDrawer();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },

    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }

      this.workflowPersonList.forEach(workflowPerson => {
        workflowPerson.assignValue = workflowPerson.assignValue || [];
        workflowPerson.assignValue = workflowPerson.assignValue.filter(userId => this.userList.findIndex(u => u.userId === userId) > -1);
        workflowPerson.origin.properties.assignValue = workflowPerson.assignValue;
        if (workflowPerson.assignValue.length === 0) {
          window.vtoast.fail({ message: `${workflowPerson.label}必填!` });
          throw new Error("[prepareValidate] 审批人 false");
        }
      });
    },

    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const { purchaseStatus, ...serverSearchInputData } = serverSearchInput
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectItemList',
            actionData: {},
            where: {
            },
            whereIn: {purchaseStatus},
            whereLike: serverSearchInputData,
            orderBy: [{column: 'purchaseOrderId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.tableData = this.buildTableData(rows);
      this.isTableLoading = false;
    },
    buildTableData(rows) {
      return rows.map(item => {
        return item
      });
    },
    async getUserDept() {
      const userDeptInfo = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'getCurrentUserDept',
            actionData: {}
          }
        }
      })).data.appData.resultData;
 
      this.userDept = userDeptInfo
    },

    async getGoodList() {
      const { rows } = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectGoodPriceStockList',
            actionData: {},
            where: { rowStatus: '正常' }
          }
        }
      })).data.appData.resultData;
      this.goodList = rows
    },

    async getPurchaseOrderGoodList({ item }) {
      this.purchaseOrderGoodTableLoading = true
      const { rows } = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectPurchaseOrderGoodList',
            actionData: { },
            where: { purchaseOrderId: item.purchaseOrderId }
          }
        }
      })).data.appData.resultData;
      this.purchaseOrderGoodTableLoading = false
      this.updateItem['goodList'] = rows
    },
    
    
    async getUserList() {
      const { rows } = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectUserList',
            actionData: {}
          }
        }
      })).data.appData.resultData;
      this.userList = rows
    },

    async getDeptList() {
      const { rows } = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectDeptList',
            actionData: {}
          }
        }
      })).data.appData.resultData;
      this.deptList = rows
    },
    _initPurchaseUserDept() {
      if (this.userDept) {
        this.addItem.purchaseDeptId = this.userDept.deptId;
        this.addItem.purchaseDeptName = this.userDept.deptName;
      }
    },
    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
      this.workflowPersonList = []
      this._initPurchaseUserDept();
    },
    async openCreateItemDialog() {
      this.isCreateDrawerShown = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmSubmitItemDialog() {
      if (await window.confirmDialog({title: "提交", content: "确定要提交吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItemSaveDraft() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("保存草稿");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'savePurchaseOrderDraft',
            actionData: {
              ...data,
              workflowConfigCustom: JSON.stringify({ nodeListOfUserTaskNode: this.workflowPersonList })
            }
          }
        }
      })
      await window.vtoast.success("保存草稿成功");
    },
   
    async doCreateItemSubmit() {
      await window.vtoast.loading("提交采购单");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'submitPurchaseOrder',
            actionData: {
              ...this.addItem,
              workflowConfigCustom: JSON.stringify({ nodeListOfUserTaskNode: this.workflowPersonList })
            }
          }
        }
      })
      await window.vtoast.success("提交采购单成功");
    },
    async closeDrawerShow() {
      this.isUpdateDrawerShown = false;
      this.isCreateDrawerShown = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.updateItem = {...item};
      if (item.workflowConfigCustom) {
        this.workflowPersonList = JSON.parse(item.workflowConfigCustom || {}).nodeListOfUserTaskNode || []
      } else {
        await this.handleWorkflowProcessChange(item.workflowId)
      }
    },
    async openUpdateDialog() {
      this.isUpdateDrawerShown = true;
    },
    /**
     * uiActionId:  updatePurchaseOrderDraft
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItemSaveDraft() {
      const { id, ...data } = this.updateItem;
      await window.vtoast.loading("修改草稿");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'updatePurchaseOrderDraft',
            actionData: {
              ...data,
              workflowConfigCustom: JSON.stringify({ nodeListOfUserTaskNode: this.workflowPersonList })
            },
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改草稿成功");
    },
    
    async doUpdateItemSubmit() {
      await window.vtoast.loading("提交采购单");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'submitPurchaseOrder',
            actionData: {
              ...this.updateItem,
              workflowConfigCustom: JSON.stringify({ nodeListOfUserTaskNode: this.workflowPersonList })
            }
          }
        }
      })
      await window.vtoast.success("提交采购单成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id, purchaseOrderId } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'deleteItem',
            actionData: {},
            where: { id, purchaseOrderId }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async getWorkflowList() {
      const { rows } = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'selectWorkflowList',
            actionData: {},
            orderBy: [{column: 'id', order: 'asc'}]
          }
        }
      })).data.appData.resultData;
      this.workflowList = rows;
    },
    
    async confirmRecallItemDialog() {
      if (await window.confirmDialog({title: "撤回", content: "确定要撤回采购单吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doRecallItem({item}) {
      const { id, purchaseOrderId } = item;
      await window.vtoast.loading("撤回采购单");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderApply',
            actionId: 'updatePurchaseOrderStatus',
            actionData: {
              purchaseOrderId,
              purchaseStatus: '草稿'
            },
            where: { id, purchaseOrderId }
          }
        }
      });
      await window.vtoast.success("撤回成功");
    },

    async toDetailPage({item}) {
      location.href = `/${window.appInfo.appId}/page/purchaseOrderDetail?purchaseOrderId=${item.purchaseOrderId}`;
    },
    async handleWorkflowProcessChange(workflowId) {
      const workflow = this.workflowList.filter(item=> item.workflowId === workflowId)
      const workflowPersonList = JSON.parse(workflow[0].workflowConfig).nodeList
      // 筛选审批人节点
      this.workflowPersonList = workflowPersonList.filter(item=> item.id.includes('userTask-'))
    },
    async doViewDetail({ item }) {
      this.updateItem = { ...item, time: new Date() }
      this.isDetailDrawerShown = true
    },
    async closeDetailDrawer() {
      this.isDetailDrawerShown = false
      await this.refreshTableData()
    },
    
    // ---------- <<<<<<<<<< 删除流程 --------
    // ---------- 删除流程 >>>>>>>>>> --------
  }
})
</script>


<style>
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:not(.v-data-table__mobile-row) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }
  
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr {
    cursor: pointer;
  }
  </style>
{% endblock %}
