{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="pt-3 text-h7 font-weight-bold">采购申请
        <!-- 帮助页按钮 -->
        <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
      </div>
      <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 类型 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <span class="text-h7">待审批</span>
          </v-col>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
          <v-btn
            class="elevation-0 ml-2"
            fab
            dark
            x-small
            color="primary"
            @click="doUiAction('refreshTableData')"
          >
            <v-icon dark>
              mdi-cached
            </v-icon>
          </v-btn>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          height="350"
          :items="tableDataFromBackend"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          :class="{'zebraLine': isTableZebraLineShown }"
          checkbox-color="success"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 表格行操作按钮 -->
          <template v-slot:item.taskInitUser="{ item }">
            {{ item.taskInitUsername || item.taskInitUser }}
          </template>
          <template v-slot:item.taskEditUserList="{ item }">
            {{ item.taskEditUsernameList || item.taskEditUserList }} 
          </template>
          <template v-slot:item.taskViewUserList="{ item }">
            {{ item.taskViewUsernameList || item.taskViewUserList }}
          </template>
          <template v-slot:item.createByUser="{ item }">
            {{ item.createByUsername || item.createByUser }}
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn v-if="(item.taskEditedUserList || '').indexOf(userId) > -1" small color="" class="mr-2" @click="doUiAction('doViewDetail', {item})">
              已审批
            </v-btn>
            <v-btn v-if="(item.taskEditedUserList || '').indexOf(userId) === -1" small color="success" class="mr-2" @click="doUiAction('doViewDetail', {item})">
              审批
            </v-btn>
          </template>
          <template v-slot:item.applyAt="{ item }">
            {{ item.applyAt && dayjs(item.applyAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
          <template v-slot:item.finishAt="{ item }">
            {{ item.finishAt && dayjs(item.finishAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>

          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>

      <div class="mt-5">
        <task-history ref="taskHistory" />
      </div>
      <!-- <<<<<<<<<<<<< 页面内容 -->
      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-model="isDetailDrawerShow" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="updateForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">采购单详情</span>
          </v-row>
          <!-- 抽屉表单 -->
          <purchase-order-detail :purchase-order="updateItem" @close-detail-drawer="doUiAction('closeDetailDrawer')" />
        </v-form>

        <!-- 抽屉关闭按钮 -->
        <v-btn
          elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
          @click="isDetailDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'component/purchase/flow/processFlow.html' %}
{% include 'component/purchase/flow/editFlow.html' %}
{% include 'component/purchase/flow/editLine.html' %}
{% include 'component/purchase/flow/editNode.html' %}
{% include 'component/purchase/previewFileGroup.html' %}
{% include 'component/purchase/taskHistory.html' %}
{% include 'component/purchase/purchaseOrderDetail.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vueComponent: 'page',
    vuetify: new Vuetify(),
    data: {
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '采购申请',
          disabled: true,
        }
      ],
      isHelpPageDrawerShown: false,
      // 表格相关数据
      isTableZebraLineShown: true,
      // 表格相关数据
      requireRules: [
        v => !!v || '必填',
      ],
      constantObj: {
        taskStatus: [
          { value: "running", text: "running" },
          { value: "end", text: "end" },
        ],
      },
      serverSearchInput: {
        taskStatus: ['running']
      },
      currentTableGenderType: 'all',
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        // {text: "名称", value: "taskTitle", width: 230, class: 'fixed', cellClass: 'fixed'},
        { text: "采购订单ID", value: "purchaseOrderId", width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "采购标题", value: "purchaseTitle", width: 130, class: 'fixed', cellClass: 'fixed' },
        // {text: "任务ID", value: "taskId", width: 120},
        // {text: "状态", value: "taskStatus", width: 120},
        // {text: "当前节点ID", value: "taskConfigId", width: 200},
        { text: "申购部门", value: "purchaseDeptName", width: 120 },
        { text: "申购人", value: "purchaseRequirerName", width: 120 },
        { text: "采购人", value: "purchasePurchaserName", width: 120 },
        { text: "采购单的总金额", value: "purchaseOrderPrice", width: 120 },
        { text: "审批人员", value: "taskEditUserList", width: 120 },
        { text: "所有相关人员，用逗号分隔", value: "taskViewUserList", width: 120 },
        { text: "申请采购时间", value: "applyAt", width: 250 },
        { text: "完成采购时间", value: "finishAt", width: 250 },
        // {text: "操作者", value: "operationByUser", width: 120},
        // {text: "操作时间", value: "operationAt", width: 250},
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed' },
      ],
      userId: localStorage.getItem(`${window.appInfo.appId}_userId`),
      isDetailDrawerShow: false,
      updateItem: {},
      userList: [],
    },
    watch: {},
    async created() {
      await this.doUiAction('getUserList');
      await this.doUiAction('refreshTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData(uiActionData);
            break;
          case 'toTaskHistory':
            await this.toTaskHistory(uiActionData);
            break;
          case 'doViewDetail':
            await this.doViewDetail(uiActionData);
            break;
          case 'getUserList':
            await this.getUserList();
            break;
          case 'closeDetailDrawer':
            await this.closeDetailDrawer();
            break;
          default:
            console.error("[doAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskICreateManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: {},
              whereLike: {
                taskEditUserList: `%${this.userId}%`
              },
              whereIn: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData;

        rows.forEach(row => {
          row.operationAt = dayjs(row.operationAt).format();
          const createByUser = this.userList.find(user => user.userId === row.createByUser);
          if (createByUser) {
            row.createByUsername = createByUser.username;
          }

          const taskInitUser = this.userList.find(user => user.userId === row.taskInitUser);
          if (taskInitUser) {
            row.taskInitUsername = taskInitUser.username;
          }

          const taskEditUsernameListTemp = row.taskEditUserList.split(",").map(taskEditUserId => {
            const taskEditUser = this.userList.find(user => user.userId === taskEditUserId);
            if (taskEditUser) {
              return taskEditUser.username;
            }
            return taskEditUserId;
          })
          row.taskEditUsernameList = taskEditUsernameListTemp.join(',');


          const taskViewUsernameListTemp = row.taskViewUserList.split(",").map(taskViewUserId => {
            const taskViewUser = this.userList.find(user => user.userId === taskViewUserId);
            if (taskViewUser) {
              return taskViewUser.username;
            }
            return taskViewUserId;
          })
          row.taskViewUsernameList = taskViewUsernameListTemp.join(',');



        })
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },

      toTaskHistory({ item }) {
        // location.href = `/${window.appInfo.appId}/page/taskHistoryManagement?id=${item.id}&taskId=${item.taskId}`;
        location.href = `/${window.appInfo.appId}/page/purchaseOrderDetail?workflowTaskId=${item.taskId}`;
      },
      async doViewDetail({ item }) {
        this.updateItem = {
          ...item, time: new Date(),
          // purchase-order-detail 读取 workflowTaskId
          workflowTaskId: item.taskId,
          workflowTaskRecordId: item.id
        }
        this.isDetailDrawerShow = true
      },
      async closeDetailDrawer() {
        this.isDetailDrawerShow = false
        this.refreshTableData()
        this.$refs.taskHistory.refreshTableData()
      },
      async getUserList() {
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'workflowManagement',
              actionId: 'selectUserList',
              actionData: {},
              where: {},
            }
          }
        })).data.appData.resultData;
        this.userList = rows;
      },
    }
  })
</script>

<style scoped>
</style>
{% endblock %}