{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="pt-3 text-h7 font-weight-bold">部门管理
        <!-- 帮助页按钮 -->
        <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
      </div>
      <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <!--表格 头部 >>>>>>>>>>>>> -->
        <v-row class="ma-0 pa-4 pb-0">
          <!--新增按钮-->
          <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
          <v-spacer></v-spacer>
          <!--搜索过滤-->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- <<<<<<<<<<< 表格 头部 -->
        <!-- 数据表格 >>>>>>>>>>>>> -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
          :items-per-page="20"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          :class="{'zebraLine': isTableZebraLineShown }"
          checkbox-color="success"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span>
            <row-status-switch-button :value="item.rowStatus"
              @update-value="doUiAction('rowStatusChange', { item, rowStatus: $event })" />
          </template>
          <template v-slot:item.operationAt="{ item }">
            {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
          <!--没有数据-->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
            <span class="ml-1">共{{ pagination.itemsLength }}条</span>
          </template>
        </v-data-table>
        <!-- <<<<<<<<<<<<< 数据表格 -->
      </v-card>

      <!-- 抽屉： <<<<<<<<<<< 修改用户密码 -->
      <!-- 抽屉：创建用户信息 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="createForm" lazy-validation>
          <!-- 抽屉的头部标题 -->
          <v-row class="ma-0 px-6">
            <span class="text-h7 pt-6">添加部门</span>
          </v-row>
          <!-- 抽屉的主体 >>>>>>>>>>>>> -->
          <v-row class="ma-0 px-4">
            <v-col cols="12" sm="12" md="4" xl="3" class="pb-3">
              <span class="jh-input-label">部门名称</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="createItem.deptName" :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门办公电话</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="createItem.deptContact"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门经理</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="createItem.deptManagerName"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门经理联系方式</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="createItem.deptManagerContact" ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">备注</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="createItem.remark" ></v-text-field>
            </v-col>
          </v-row>
          <!-- <<<<<<<<<<< 抽屉的主体 -->
          <!-- 抽屉的操作按钮 >>>>>>>>>>>>> -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
            <v-btn class="ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
          </v-row>
          <!-- <<<<<<<<<<< 抽屉的操作按钮 -->
        </v-form>
        <!-- 抽屉的关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- 抽屉：<<<<<<<<<<< 创建用户信息 -->
      <!-- 抽屉：修改用户信息 >>>>>>>>>>>>> -->
      <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="updateForm" lazy-validation>
          <!-- 抽屉的头部标题 -->
          <v-row class="ma-0 px-6">
            <span class="text-h7 pt-6">修改部门信息-{{ updateItem.deptId }}</span>
          </v-row>
          <!-- 抽屉的主体 >>>>>>>>>>>>> -->
                    
          <v-row class="ma-0 px-4">
            <v-col cols="12" sm="12" md="4" xl="3" class="pb-3">
              <span class="jh-input-label">部门编号</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.deptId" disabled></v-text-field>
            </v-col>
          </v-row>  
          <v-row class="ma-0 px-4">
            <v-col cols="12" sm="12" md="4" xl="3" class="pb-3">
              <span class="jh-input-label">部门名称</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.deptName" :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门办公电话</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.deptContact"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门经理</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.deptManagerName"></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">部门经理联系方式</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.deptManagerContact" ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">备注</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem.remark" ></v-text-field>
            </v-col>
          </v-row>
          <!-- <<<<<<<<<<< 抽屉的主体 -->
          <!-- 抽屉的操作按钮 >>>>>>>>>>>>> -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
            <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消</v-btn>
          </v-row>
          <!-- <<<<<<<<<<< 抽屉的操作按钮 -->
        </v-form>
        <!-- 抽屉的关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- 抽屉：<<<<<<<<<<< 修改用户信息 -->
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#basic.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/basic/rowStatus/row-status-switch-button.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: {
    isMobile: window.innerWidth < 500,
    isHelpPageDrawerShown: false,
    // 面包屑
    breadcrumbs: [
      {text: '首页', disabled: true,},
      {text: '部门管理', disabled: true,}
    ],
    // 表格斑马纹
    isTableZebraLineShown: true,
    // 表单验证
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 常量列表
    constantObj: {
    },
    searchInput: null,
    isTableLoading: true,
    tableData: [],

    headers: [
      {text: '操作', value: 'action', sortable: false, width: 150, class: 'fixed', cellClass: 'fixed'},
      {text: "部门编号", value: "deptId", width: 80}, 
      {text: "部门名称", value: "deptName", width: 200}, 
      {text: "部门办公电话", value: "deptContact", width: 150}, 
      {text: "部门经理", value: "deptManagerName", width: 150}, 
      {text: "部门经理联系方式", value: "deptManagerContact", width: 150}, 
      {text: "备注", value: "remark", width: 250},
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250}
    ],
    // 新增
    isCreateDrawerShown: false,
    createItem: {},
    createActionData: {},
    // 修改
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemId: null,
    updateActionData: {},
  },
  computed: {
  },
  watch: {},
  async created() {
  },
  mounted() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          break;
        case 'startCreateItem':
          await this.prepareCreateItem();
          await this.openCreateDrawer();
          break;
        case 'createItem':
          await this.prepareCreateValidate();
          await this.confirmCreateItemDialog();
          await this.prepareDoCreateItem();
          await this.doCreateItem();
          await this.closeCreateDrawer();
          await this.getTableData();
          break;
        case 'startUpdateItem':
          await this.prepareUpdateItem(uiActionData);
          await this.openUpdateDrawer();
          break;
        case 'updateItem':
          await this.prepareUpdateValidate();
          await this.confirmUpdateItemDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateItem();
          await this.closeUpdateDrawer();
          await this.getTableData();
          break;
        case "rowStatusChange":
          await this.rowStatusChange(uiActionData);
          await this.getTableData();
          break;  
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'deptManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      this.tableData = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },
    //   --------------- 新增数据 uiAction >>>>>>>>>>  ---------------
    async prepareCreateItem() {
      this.createItem = {};
    },
    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate() === false) {
        throw new Error("[prepareCreateValidate] false");
      }
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = data;
    },
    async doCreateItem() {
      await window.vtoast.loading("保存中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'deptManagement',
            actionId: 'insertItem',
            actionData: this.createActionData,
            where: {},
            idGenerate: {
              type: 'idSequence',
              prefix: 'BM',
              bizId: 'deptId',
              tableName: 'dept',
            }
          }
        }
      });
      await window.vtoast.success("保存成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    //   --------------- <<<<<<<<<<<< 新增数据 uiAction  ---------------
    //   --------------- 编辑数据 uiAction >>>>>>>>>>>>  ---------------
    async prepareUpdateItem(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },
    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate() === false) {
        throw new Error("[prepareUpdateValidate] false");
      }
    },
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "编辑", content: "确定编辑吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },
    prepareDoUpdateItem() {
      const {id, userId, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = data;
    },
    async doUpdateItem() {
      await window.vtoast.loading("保存中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'deptManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      });
      await window.vtoast.success("修改成功");
    },
    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },

    async rowStatusChange({ item, rowStatus }) {
      if (
        (await window.confirmDialog({
          title: "数据状态",
          content: `确定将数据修改为【${rowStatus}】吗？`,
        })) === false
      ) {
        throw new Error("rowStatus 取消");
      }
      await window.vtoast.loading("修改数据状态");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: "deptManagement",
            actionId: "updateItem",
            actionData: { rowStatus },
            where: { id: item.id },
          },
        },
      });
      item.rowStatus = rowStatus;
      await window.vtoast.success("修改数据状态成功");
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
