{% extends 'template/jhTemplateV3.html'%} {% block vue_template %}

<jh-layout-v3>
  <!-- 页面主要内容 -->
  <v-card :class="{'px-2': isMobile}">
    <v-row
      class="ma-0 align-center flex-none pt-0"
      :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}"
    >
      <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
        <v-btn
          color="success"
          dark
          class="elevation-0 mr-2"
          @click="doUiAction('startCreateItem', null)"
          >新增</v-btn
        >
        <span class="body-2">共{{ tableDataFromBackend.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="px-0">
        <v-text-field
          v-model="searchInput"
          color="success"
          prefix="表格过滤："
          class="cus-v-input"
          dense
          filled
          single-line
        ></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header
      :headers="headers"
       height="350"
      :items="tableDataFromBackend"
      :search="searchInput"
      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
      :items-per-page="100"
      :loading="isTableLoading"
      checkbox-color="success"
      mobile-breakpoint="0"
      :class="{'mx-2': isMobile}"
      class="elevation-0 mt-0 flex-fill d-flex flex-column"
    >
      <template v-slot:item.clearTextPassword="{ item }">
        <span @click="copyPassword({item})" style="cursor: pointer">
          <v-icon small>mdi-content-copy</v-icon>
          复制
        </span>
      </template>
      <template v-slot:item.userType="{ item }">
        {{ getConstantCollectionItemText('userType', item.userType) }}
      </template>
      <template v-slot:item.userStatus="{ item }">
        {{ getConstantCollectionItemText('userStatus', item.userStatus) }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn
          small
          class="mr-2"
          color="success"
          @click="doUiAction('startUpdateItem', {item})"
          >修改</v-btn
        >
        <v-btn
          small
          class="mr-2"
          color="primary"
          v-if="item.userStatus !== 'active'"
          @click="doUiAction('activeUserStatus', {item})"
        >
          激活用户
        </v-btn>
        <v-btn
          small
          class="mr-2"
          color="error"
          v-if="item.userStatus === 'active'"
          @click="doUiAction('bannedUserStatus', {item})"
        >
          禁用用户
        </v-btn>
        <v-btn
          small
          class="mr-2"
          color="error"
          v-if="item.userStatus === 'active'"
          @click="doUiAction('startResetPassword', {item})"
        >
          修改密码
        </v-btn>
      </template>
      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
    </v-data-table>
  </v-card>
  <!-- 编辑抽屉 -->
  <v-navigation-drawer
    v-model="isEditDrawerShow"
    :permanent="isEditDrawerShow"
    fixed
    temporary
    right
    width="80%"
    class="elevation-24"
  >
    <v-form
      v-model="isFormValid"
      v-if="isEditDrawerShow"
      ref="form"
      lazy-validation
    >
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}"
          >{{ currentClickButton.title }}信息</span
        >
        <v-spacer></v-spacer>
        <v-btn
          class="mt-6 elevation-0"
          :class="{'mr-16': !isMobile, 'mr-8': isMobile}"
          fab
          x-small
          @click="isEditDrawerShow = false"
        >
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row
        v-if="currentClickButton.action === 'resetUserPassword'"
        :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}"
      >
        <v-col
          cols="12"
          sm="12"
          md="4"
          :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}"
        >
          <span class="inputLabel">初始密码</span>
          <v-text-field
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            label="初始密码"
            v-model="editItem.clearTextPassword"
            :rules="requireRules"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row
        v-else
        :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}"
      >
        <v-col
          cols="12"
          sm="12"
          md="4"
          xl="3"
          class="pb-xs-4 pb-3"
          v-if="currentClickButton.action === 'add'"
        >
          <span class="inputLabel">用户ID[登陆]</span>
          <v-text-field
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            label="用户ID[登陆]"
            v-model="editItem.userId"
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          md="4"
          :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}"
        >
          <span class="inputLabel">用户名</span>
          <v-text-field
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            label="用户名"
            v-model="editItem.username"
            :rules="requireRules"
          ></v-text-field>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          md="4"
          :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}"
        >
          <span class="inputLabel">用户类型</span>
          <v-select
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            clearable
            label="用户类型"
            v-model="editItem.userType"
            :items="constantCollection.userType"
          ></v-select>
        </v-col>
        <v-col
          cols="12"
          sm="12"
          md="4"
          :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}"
        >
          <span class="inputLabel">用户状态</span>
          <v-select
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            clearable
            label="用户状态"
            v-model="editItem.userStatus"
            :items="constantCollection.userStatus"
          ></v-select>
        </v-col>
        <v-col
          v-if="currentClickButton.action === 'add'"
          cols="12"
          sm="12"
          md="4"
          :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}"
        >
          <span class="inputLabel">初始密码</span>
          <v-text-field
            class="cus-v-input mr-2"
            dense
            filled
            single-line
            label="初始密码"
            v-model="editItem.clearTextPassword"
            :rules="requireRules"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row
        class="justify-end mx-0 mt-8"
        :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}"
      >
        <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)"
          >保存</v-btn
        >
        <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false"
          >取消</v-btn
        >
      </v-row>
    </v-form>
  </v-navigation-drawer>
</jh-layout-v3>

{% endblock %} {% block vue_body %}

<script type="module">
  new Vue({
    el: "#app",
    template: "#app-template",
    vuetify: new Vuetify(),
    data: {
      isMobile: window.innerWidth < 600,
      // 表格相关数据
      isFormValid: true,
      showLeftMenu: window.innerWidth > 600,
      requireRules: [(v) => !!v || "必填"],
      constantCollection: {
        userStatus: [
          { value: "active", text: "活跃" },
          { value: "banned", text: "关闭" },
        ],
        userType: [
          { value: "common", text: "管理员" },
          { value: "staff", text: "职工" },
          { value: "student", text: "学员" },
        ],
      },
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {
          text: "用户ID[登陆]",
          value: "userId",
          width: 120,
          class: "fixed",
          cellClass: "fixed",
        },
        { text: "用户名", value: "username", width: 140 },
        { text: "用户类型", value: "userType", width: 120 },
        { text: "用户状态", value: "userStatus", width: 120 },
        { text: "初始密码", value: "clearTextPassword", width: 120 },
        { text: "操作人", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
       /*  {
          text: "操作",
          value: "action",
          align: "center",
          sortable: false,
          width: 300,
          class: "fixed",
          cellClass: "fixed",
        }, */
         {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
      ],

      currentClickButton: { title: "新增", action: "add" },
      editItem: {},
      defaultItem: { userType: "common", userStatus: "active" },
      dialogSaveInfoAction: "",
    },
    computed: {},
    watch: {},
    async created() {},
    mounted() {
      this.doUiAction("refreshTableData");
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case "refreshTableData":
            await this.refreshTableData(uiActionData);
            break;
          case "startCreateItem":
            await this.clearItemData(uiActionData);
            await this.openCreateItemDialog(uiActionData);
            break;
          case "createItem":
            await this.prepareValidate(uiActionData);
            await this.confirmCreateItemDialog(uiActionData);
            await this.doCreateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case "startUpdateItem":
            await this.prepareItemData(uiActionData);
            await this.openUpdateItemDialog(uiActionData);
            break;
          case "updateItem":
            await this.prepareValidate(uiActionData);
            await this.confirmUpdateItemDialog(uiActionData);
            await this.doUpdateItem(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case "activeUserStatus":
            await this.confirmActiveUserStatusDialog(uiActionData);
            await this.prepareItemData(uiActionData);
            await this.doActiveUserStatus(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          case "startResetPassword":
            await this.prepareItemData(uiActionData);
            await this.openResetPasswordDialog(uiActionData);
            break;
          case "resetPassword":
            await this.confirmResetPasswordDialog(uiActionData);
            await this.doResetUserPassword(uiActionData);
            await this.refreshTableData(uiActionData);
            await this.closeDrawerShow(uiActionData);
            break;
          case "bannedUserStatus":
            await this.confirmBannedUserStatusDialog(uiActionData);
            await this.prepareItemData(uiActionData);
            await this.doBannedUserStatus(uiActionData);
            await this.refreshTableData(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "selectItemList",
              actionData: {},
              where: {},
              orderBy: [{ column: "operationAt", order: "desc" }],
            },
          },
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },

      // startCreateItem
      async clearItemData() {
        this.editItem = {};
      },

      async openCreateItemDialog() {
        this.currentClickButton = { action: "add", title: "新增" };
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = "createItem";
      },

      // createItem
      async prepareValidate() {
        if ((await this.$refs.form.validate()) === false) {
          throw new Error("[prepareValidate] false");
        }
      },

      // createItem
      async confirmCreateItemDialog() {
        if (
          (await window.confirmDialog({
            title: "新增",
            content: "确定新增吗？",
          })) === false
        ) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      /**
       * 新增用户
       */
      async doCreateItem() {
        await window.vtoast.loading("保存中");
        const { id, ...actionData } = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "insertItem",
              actionData: actionData,
            },
          },
        });
        await window.vtoast.success("保存成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
      },

      // startUpdateItem
      async prepareItemData({ item }) {
        this.editItem = { ...item };
      },

      async openUpdateItemDialog() {
        this.currentClickButton = { action: "edit", title: "修改" };
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = "updateItem";
      },

      // updateItem
      async confirmUpdateItemDialog() {
        if (
          (await window.confirmDialog({
            title: "修改",
            content: "确定修改吗？",
          })) === false
        ) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      /**
       * 保存用户
       */
      async doUpdateItem() {
        await window.vtoast.loading("保存中");
        const { id, userId, ...actionData } = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "updateItem",
              actionData: actionData,
              where: { id },
            },
          },
        });
        await window.vtoast.success("修改成功");
      },

      async confirmActiveUserStatusDialog() {
        if (
          (await window.confirmDialog({
            title: "激活",
            content: "确定激活吗？",
          })) === false
        ) {
          throw new Error("[confirmActiveUserStatusDialog] 否");
        }
      },

      /**
       * 激活用户
       */
      async doActiveUserStatus({ item }) {
        const { userId } = item;
        await window.vtoast.loading("正在激活");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "updateItem",
              actionData: { userStatus: "active" },
              where: { userId },
            },
          },
        });
        await window.vtoast.success(`激活成功`);
      },

      async confirmBannedUserStatusDialog() {
        if (
          (await window.confirmDialog({
            title: "禁用",
            content: "确定禁用吗？",
          })) === false
        ) {
          throw new Error("[confirmBannedUserStatusDialog] 否");
        }
      },

      /**
       * 禁用用户
       */
      async doBannedUserStatus({ item }) {
        const { userId } = item;
        await window.vtoast.loading("正在禁用");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "updateItem",
              actionData: { userStatus: "banned" },
              where: { userId },
            },
          },
        });
        await window.vtoast.success(`禁用成功`);
      },

      async openResetPasswordDialog() {
        this.currentClickButton = {
          action: "resetUserPassword",
          title: "修改用户密码",
        };
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = "resetPassword";
      },

      // updateItem
      async confirmResetPasswordDialog() {
        if (
          (await window.confirmDialog({
            title: "修改用户密码",
            content: "确定修改用户密码吗？",
          })) === false
        ) {
          throw new Error("[confirmResetPasswordDialog] 否");
        }
      },

      async doResetUserPassword() {
        const { userId, clearTextPassword } = this.editItem;
        await window.vtoast.loading("修改密码");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: "userManagement",
              actionId: "resetUserPassword",
              actionData: { userId, clearTextPassword },
            },
          },
        });
        window.vtoast.success("修改密码成功");
      },

      getConstantCollectionItemText(key, _value) {
        const constantCollectionItemFind = this.constantCollection[key].find(
          ({ value }) => value === _value
        );
        if (constantCollectionItemFind) {
          return constantCollectionItemFind.text;
        }
        return _value;
      },

      copyPassword({ item }) {
        navigator.clipboard.writeText(item.clearTextPassword);
        return window.vtoast.success("复制密码成功！");
      },
    },
  });
</script>

<style>
  .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr
    > td:not(.v-data-table__mobile-row) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }

  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr {
    cursor: pointer;
  }
</style>
{% endblock %}
