{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

<v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
  <v-card>
  <v-row class="ma-0 pa-4" >
      <!-- <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新建采购单</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col> -->

      <v-spacer></v-spacer>

      <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
        <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
      </v-col>
      <v-btn class="elevation-0" color="success" dark @click="doUiAction('refreshTableData')" >
        <v-icon left dark > mdi-cached </v-icon>
        <span>刷新</span>  
      </v-btn>
    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                  height="600"
                  :items-per-page="50"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          More info about {{ item.name }}
        </td>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn small class="success" v-if="item.purchaseStatus == '采购中'" @click="doUiAction('doFinishItem', {item})">完成采购</v-btn>
        <v-btn small class="success" @click="doUiAction('doViewDetail', {item})">查看详情</v-btn>
      </template>
      <template v-slot:item.applyAt="{ item }">
        {{ item.applyAt && dayjs(item.applyAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.finishAt="{ item }">
        {{ item.finishAt && dayjs(item.finishAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>      
    </v-data-table>
  </v-card>
</v-container>

<!-- 详情抽屉 -->
<v-navigation-drawer v-model="isDetailDrawerShow" :permanent="isDetailDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-row class="pt-8">
    <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">采购单详情</span>
    <v-spacer></v-spacer>
    <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isDetailDrawerShow = false">
      <v-icon dark>mdi-close</v-icon>
    </v-btn>
  </v-row>
  <purchase-order-detail 
  :purchase-order="updateItem" @close-detail-drawer="doUiAction('closeDetailDrawer')" />
</v-navigation-drawer>


</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'component/purchase/flow/processFlow.html' %}
{% include 'component/purchase/flow/editFlow.html' %}
{% include 'component/purchase/flow/editLine.html' %}
{% include 'component/purchase/flow/editNode.html' %}
{% include 'component/purchase/previewFileGroup.html' %}
{% include 'component/purchase/purchaseOrderDetail.html' %}
{% include 'component/purchase/previewFileGroup.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || '必填',
    ],
    constantObj: {
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    updateItem: {},
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      // {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},
       
      {text: "采购订单ID", value: "purchaseOrderId", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      {text: "采购标题", value: "purchaseTitle", width: 130}, 
      {text: "审批流", value: "workflowName", width: 130}, 
      {text: "申购部门", value: "purchaseDeptName", width: 120}, 
      {text: "申购人", value: "purchaseRequirerName", width: 120}, 
      {text: "采购人", value: "purchasePurchaserName", width: 120}, 
      {text: "状态", value: "purchaseStatus", width: 120}, 
      {text: "备注", value: "remark", width: 120}, 
      {text: "申请采购时间", value: "applyAt", width: 250},
      {text: "完成采购时间", value: "finishAt", width: 250},
      {text: '操作', value: 'action', align: 'left', sortable: false, width: 160, class: 'fixed', cellClass: 'fixed'},
    ],
    
    isDetailDrawerShow: false,
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
   
    await Promise.all([
      this.doUiAction('refreshTableData'),
    ])

    // await this.doUiAction('startUploadPurchaseContract', { item: this.tableDataFromBackend[0] });
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'doViewDetail':
          await this.doViewDetail(uiActionData);
          break;
        case 'startUploadPurchaseContract':
          await this.prepareUploadPurchaseContractItemData(uiActionData);
          await this.openUploadPurchaseContractDialog();
          break;
        case 'doToDetailPage':
          await this.toDetailPage(uiActionData);
          break;
        case 'doFinishItem':
          await this.confirmFinishItemDialog();
          await this.doFinishItem(uiActionData);
          await this.refreshTableData();
          break;
        case 'closeDetailDrawer':
          await this.closeDetailDrawer();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const { purchaseStatus, ...serverSearchInputData } = serverSearchInput
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: { purchaseStatus: '采购完成' },
            whereIn: {},
            orderBy: [{column: 'purchaseOrderId', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================
    async toDetailPage({item}) {
      location.href = `/${window.appInfo.appId}/page/purchaseOrderDetail?purchaseOrderId=${item.purchaseOrderId}`;
    },

    async confirmFinishItemDialog() {
      if (await window.confirmDialog({title: "完成", content: "确定要完成采购单吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doFinishItem({item}) {
      const { id, purchaseOrderId } = item;
      await window.vtoast.loading("完成采购单");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'purchaseOrderContract',
            actionId: 'updatePurchaseOrderStatus',
            actionData: {
              purchaseOrderId,
              purchaseStatus: '采购完成',
            },
            where: { id, purchaseOrderId }
          }
        }
      });
      await window.vtoast.success("操作成功");
    },
    async doViewDetail({ item }) {
      this.updateItem = { ...item, time: new Date() }
      this.isDetailDrawerShow = true
    },
    async closeDetailDrawer() {
      this.isDetailDrawerShow = false
      await this.refreshTableData()
    }
  }
})
</script>

<style>
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr > td:not(.v-data-table__mobile-row) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr {
  cursor: pointer;
}
</style>
{% endblock %}
