{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'testManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='testManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'testManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"test\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='testManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'testManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"test\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='testManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'testManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"test\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='testManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'testManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"test\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='testManagement' AND `actionId`='deleteItem');
SQL END!-->

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="pt-3 text-h7 font-weight-bold">testManagement
            <!-- 帮助页按钮 -->
            <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
            </v-icon>
          </div>
          <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </v-col>
        <!-- 搜索条件表单 >>>>>>>> -->
        <!-- <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-xs-0 pb-2 pl-1 pl-xs-1">
              <v-select v-model="serverSearchInput.gender" color="success" prefix="性别：" class="jh-v-input bg-white" :items="constantObj.gender" dense filled single-line></v-select>
            </v-col>
            <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('getTableData')">
              查询
            </v-btn>
          </v-row>
        </v-col> -->
        <!-- <<<<<<<< 搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增
          </v-btn>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': isTableZebraLineShown }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span>
            <span role="button" class="success--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
              <v-icon size="16" class="success--text">mdi-trash-can-outline</v-icon>删除
            </span>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- 新增抽屉 -->
      <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="createForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
          </v-row>
          <!-- 抽屉表单 -->
          <!-- <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.xxxId" :rules="validationRules.requireRules"></v-text-field> -->
          <v-row class="mt-0 px-4">
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">页面Id</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.pageId"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例Id</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.testId"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例名</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.testName"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">uiAction列表</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.uiActionIdList"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例步骤</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.testOpeartion"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">期望结果</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.expectedResult"></v-text-field>
            </v-col>
             
          </v-row>

          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="updateForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">修改信息</span>
          </v-row>
          <!-- 抽屉表单 -->
          <v-row class="mt-0 px-4">
            <!-- <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.xxxId" :rules="validationRules.requireRules"></v-text-field> -->
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">页面Id</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.pageId"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例Id</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.testId"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例名</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.testName"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">uiAction列表</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.uiActionIdList"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">测试用例步骤</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.testOpeartion"></v-text-field>
            </v-col>
             
            <v-col cols="12" sm="12" md="4">
              <span class="jh-input-label">期望结果</span>
              <v-text-field class="jh-v-input" dense single-line filled v-model="updateItem.expectedResult"></v-text-field>
            </v-col>
                       
          </v-row>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('updateItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isUpdateDrawerShown = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#404.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '服务端搜索',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    isMobile: window.innerWidth < 500,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 下拉选项
    constantObj: {
      gender: [{"value": null, "text": "全部"}, {"value": "male", "text": "男"}, {"value": "female", "text": "女"}],
      classId: [
        {"value": "2021-01级-01班", "text": "2021-01级-01班"}, {"value": "2021-01级-02班", "text": "2021-01级-02班"},
        {"value": "2021-02级-01班", "text": "2021-02级-01班"}, {"value": "2021-02级-02班", "text": "2021-02级-02班"},
        {"value": "2021-03级-01班", "text": "2021-03级-01班"}, {"value": "2021-03级-02班", "text": "2021-03级-02班"}
      ],
      level: [{"value": null, "text": "全部"}, {"value": "01", "text": "一年级"}, {"value": "02", "text": "二年级"}, {"value": "03", "text": "三年级"}],
      studentStatus: [{"value": "正常", "text": "正常"}, {"value": "退学", "text": "退学"}]
    },
    currentSceneId: null,
    serverSearchInput: {
      gender: null
    },
    searchInput: null,
    isTableLoading: true,
    tableData: [],
    headers: [
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "ID", value: "id", width: 120},
       
      {text: "页面Id", value: "pageId", width: 120}, 
      {text: "测试用例Id", value: "testId", width: 120}, 
      {text: "测试用例名", value: "testName", width: 120}, 
      {text: "uiAction列表", value: "uiActionIdList", width: 120}, 
      {text: "测试用例步骤", value: "testOpeartion", width: 120}, 
      {text: "期望结果", value: "expectedResult", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
    ],

    isCreateDrawerShown: false,
    createItem: {},
    createActionData: {},
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemId: null,
    updateActionData: {},
    deleteItem: {},
    deleteItemId: null

  }),
  async created() {
  },
  mounted() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          break;
        case 'startCreateItem':
          await this.prepareCreateFormData();
          await this.openCreateDrawer();
          break;
        case 'createItem':
          await this.prepareCreateValidate();
          await this.confirmCreateItemDialog();
          await this.prepareDoCreateItem();
          await this.doCreateItem();
          await this.closeCreateDrawer();
          await this.getTableData();
          break;
        case 'startUpdateItem':
          await this.prepareUpdateFormData(uiActionData);
          await this.openUpdateDrawer();
          break;
        case 'updateItem':
          await this.prepareUpdateValidate();
          await this.confirmUpdateItemDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateItem();
          await this.closeUpdateDrawer();
          await this.getTableData();
          break;
        case 'deleteItem':
          await this.prepareDeleteFormData(uiActionData);
          await this.confirmDeleteItemDialog();
          await this.prepareDoDeleteItem();
          await this.doDeleteItem();
          await this.clearDeleteItem();
          await this.getTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const backendSearchData = _.pickBy(this.serverSearchInput, ( fieldValue, fieldKey ) => {
        if(fieldValue !== null && fieldValue !== '') {
          return true;
        }
      });
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'testManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: backendSearchData,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.tableData = rows;
      this.isTableLoading = false;
    },
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {};
    },

    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },

    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },

    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = data;
    },

    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'testManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },

    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },

    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = data;
    },

    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'testManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })

      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },

    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
      this.deleteItemId = id;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'testManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: {id: this.deleteItemId}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
      this.deleteItemId = null;
    }
    // ---------- <<<<<<<<<<< 删除数据 uiAction ---------
  }
})
</script>

<style scoped>
</style>{% endblock %}
