{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}


<jh-layout-v3>

  <template slot="serverSearch">
    <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}"
      style="justify-content: end">
      <v-col cols="12" sm="4" md="3" xl="2" class=" pb-3" :class="{'pb-xs-4': !isMobile, 'mt-2': isMobile}">
        <v-select v-model="tableGroupBy" :items="constantObj.tableGroupBy" prefix="展示类型"
           hide-details dense filled single-line hide-no-data />
      </v-col>
      <v-col cols="12" sm="4" md="3" xl="2" class=" pb-3" :class="{'pb-xs-4': !isMobile, 'mt-2': isMobile}">
        <v-autocomplete prefix="商品" class="jh-v-input mr-2" dense filled single-line clearable
          v-model="serverSearchInput.goodId" :items="constantObj.good" item-text="goodName" item-value="goodId"
          :no-data-text="'没有数据'">
        </v-autocomplete>
      </v-col>
      <v-col cols="12" sm="4" md="3" xl="2" class=" pb-3" :class="{'pb-xs-4': !isMobile, 'mt-2': isMobile}">
        <v-autocomplete prefix="仓库" class="jh-v-input mr-2" dense filled single-line clearable
          v-model="serverSearchInput.warehouseId" :items="constantObj.warehouse" item-text="warehouseName"
          item-value="warehouseId" :no-data-text="'没有数据'">
      </v-col>
      <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
        <v-btn class="elevation-0" color="success" dark @click="doUiAction('refreshTableData')">
          查询
        </v-btn>
      </v-col>
    </v-row>
  </template>

  <!-- 页面主要内容 -->
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
    <v-card>
      <v-row class="ma-0 pa-4"
        >

        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
          <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table fixed-header height="600" :headers="headers" :items="tableData" :search="searchInput"
        :group-by="tableGroupBy" :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}" :items-per-page="50"
        mobile-breakpoint="0" :loading="isTableLoading" checkbox-color="success"
        class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        <template v-slot:group.header="{items, isOpen, toggle, remove}">
          <th colspan="2">
            <v-icon @click="toggle">{{ isOpen ? 'mdi-minus' : 'mdi-plus' }}</v-icon>
            <span v-if="tableGroupBy === 'warehouseId'">
              仓库: {{ items[0].warehouseName }}
              <v-btn small class="success"
                @click="doUiAction('openConsumeHistoryDialog', { item: items[0], consumeHistoryViewType: 'warehouseId' } )">出库入库记录</v-btn>
            </span>
            <span v-if="tableGroupBy === 'goodId'">
              商品: {{ items[0].goodName }}
              <v-btn small class="success"
                @click="doUiAction('openConsumeHistoryDialog', { item: items[0], consumeHistoryViewType: 'goodId' } )">出库入库记录</v-btn>
            </span>
          </th>
          <th colspan="1">
            库存: {{ _.sumBy(items, function(o) { return parseInt(o.storeCountOfConsume); }) }}
          </th>
        </template>
        <template v-slot:item.storeCountOfConsume="{ item }">
          {{item.storeCountOfConsume}}/{{item.goodUnit}}
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn small class="success"
            @click="doUiAction('openConsumeHistoryDialog', { item, consumeHistoryViewType: 'consumeId' } )">出库入库记录</v-btn>
          <v-btn small class="success" @click="doUiAction('startOutWarehouse', {item})">出库</v-btn>
        </template>
      </v-data-table>
    </v-card>
  </v-container>


  <v-navigation-drawer v-model="isConsumeHistoryDrawerShow" hide-overlay :permanent="isConsumeHistoryDrawerShow" app
    temporary right width="80%" class="elevation-24">
    <v-row class="pt-8">
      <span v-if="consumeHistoryViewType === 'consumeId'" class="title pa-6"
        :class="{'pl-12': !isMobile, 'pl-6': isMobile}">
        【入库批次维度: {{updateItem.consumeId}}-{{updateItem.goodName}}({{updateItem.goodId}})】出库入库记录
      </span>
      <span v-if="consumeHistoryViewType === 'goodId'" class="title pa-6"
        :class="{'pl-12': !isMobile, 'pl-6': isMobile}">
        【商品维度: {{updateItem.goodName}}({{updateItem.goodId}})】出库入库记录
      </span>
      <span v-if="consumeHistoryViewType === 'warehouseId'" class="title pa-6"
        :class="{'pl-12': !isMobile, 'pl-6': isMobile}">
        【仓库维度: {{updateItem.warehouseName}}({{updateItem.warehouseId}})】出库入库记录
      </span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
        @click="isConsumeHistoryDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row class="mt-0 px-4">
      <v-col cols="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <consumeOutWarehouse-consumeHistory :consume="updateItem" :view-type="consumeHistoryViewType"
          v-if="isConsumeHistoryDrawerShow"></consumeOutWarehouse-consumeHistory>
      </v-col>
    </v-row>
  </v-navigation-drawer>


  <!-- 出库抽屉 -->
  <v-navigation-drawer v-model="isOutDrawerShow" :permanent="isOutDrawerShow" fixed temporary right width="80%"
    class="elevation-24">
    <v-form v-model="isFormValid" v-if="isOutDrawerShow" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">【{{outItem.goodName}}】消耗品出库</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
          @click="isOutDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row class="mt-0 px-4">


        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">仓库</span>
          <v-text-field class="jh-v-input " dense filled single-line v-model="outItem['warehouseName']"
            :rules="requireRules" disabled="true"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">货架</span>
          <v-text-field class="jh-v-input " dense filled single-line v-model="outItem['stockName']"
            disabled="true"></v-text-field>
        </v-col>
        <v-col cols="12"></v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">出库数量(库存: {{ outItem.storeCountOfConsume }}/{{ outItem.goodUnit }})</span>
          <v-text-field class="jh-v-input " dense filled single-line v-model="outItem['consumeOperationCount']"
            type="number" :rules="[
            () => (outItem.consumeOperationCount % 1 === 0 ) || '请填写整数',
            () => !(0 >= outItem.consumeOperationCount ) || '请填写入库数量',
            () => !(outItem.consumeOperationCount > outItem.storeCountOfConsume) || '入库数量超过最大值',
          ]"></v-text-field>
        </v-col>
        <v-col cols="12"></v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">领用人</span>
          <v-text-field class="jh-v-input" dense filled single-line v-model="outItem['consumeOperationUser']"
            :rules="requireRules"></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">领用人部门</span>
          <v-autocomplete class="jh-v-input mr-2" dense filled single-line clearable
            v-model="outItem.consumeOperationDeptId" :items="deptList" item-text="deptName" item-value="deptId"
            :rules="requireRules">
        </v-col>
        <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">备注</span>
          <v-text-field class="jh-v-input" dense filled single-line v-model="outItem['remark']"></v-text-field>
        </v-col>
      </v-row>
      <v-row class="justify-end mx-0 mt-8 px-6">
        <v-btn color="success" @click="doUiAction('outWarehouse')">出库</v-btn>
        <v-btn class="ml-2" @click="isOutDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}
{% include 'component/warehouse/consumeOutWarehouse-consumeHistory.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantObj: {
        tableGroupBy: [
          { text: '按仓库', value: 'warehouseId' },
          { text: '按商品', value: 'goodId' },
        ],
        dept: [],
      },

      serverSearchInput: {
        goodCategory: ['消耗品', '易耗品'],
        warehouseId: null,
        goodId: null,
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "商品名称", value: "goodName", width: 150, class: 'fixed', cellClass: 'fixed' },
        { text: "仓库", value: "warehouseName", width: 150, class: 'fixed', cellClass: 'fixed' },
        { text: "货架", value: "stockName", width: 120 },

        { text: "商品类型", value: "goodType", width: 120 },
        { text: "商品分类", value: "goodCategory", width: 120 },
        { text: "库存", value: "storeCountOfConsume", width: 120 },
        { text: "保质期", value: "expirationAt", width: 120 },
        { text: "入库时间", value: "storeAt", width: 260 },
        { text: "采购单", value: "purchaseOrderId", width: 150 },
        { text: "备注", value: "remark", width: 120 },
        // {text: "商品描述", value: "goodDesc", width: 150}, 
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      updateItem: {},
      isConsumeHistoryDrawerShow: false,

      tableGroupBy: 'warehouseId',
      consumeHistoryViewType: null,

      outItem: {},
      isOutDrawerShow: false,
      deptList: [],
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {},
    async created() {
      await this.doUiAction('initConstantCollection');
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'initConstantCollection':
            await this.selectGoodList();
            await this.selectWarehouseList();
            await this.selectDeptList();
            break;
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'openConsumeHistoryDialog':
            await this.openConsumeHistoryDialog(uiActionData);
            break;
          case 'startOutWarehouse':
            await this.prepareOutData(uiActionData);
            await this.openOutDialog();
            break;
          case 'outWarehouse':
            await this.prepareValidate();
            await this.confirmOutConsumeDialog();
            await this.doOutWarehouse();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const where = {};
        if (this.serverSearchInput.goodId) {
          where.goodId = this.serverSearchInput.goodId;
        }
        if (this.serverSearchInput.warehouseId) {
          where.warehouseId = this.serverSearchInput.warehouseId;
        }
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'consumeOutWarehouse',
              actionId: 'selectItemList',
              actionData: {},
              where,
              whereIn: {
                goodCategory: this.serverSearchInput.goodCategory,
              },
              whereOptions: [
                ['storeCountOfConsume', '>', 0],
              ],
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      async selectGoodList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'consumeOutWarehouse',
              actionId: 'selectGoodList',
              actionData: {},
              whereIn: { goodCategory: this.serverSearchInput.goodCategory },
              orderBy: [{ column: 'goodName', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.constantObj.good = rows;
      },
      async selectWarehouseList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'consumeOutWarehouse',
              actionId: 'selectWarehouseList',
              actionData: {},
              where: { rowStatus: '正常' },
              orderBy: [{ column: 'warehouseName', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.constantObj.warehouse = rows;
      },
      async selectDeptList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'consumeOutWarehouse',
              actionId: 'selectDeptList',
              actionData: {},
              where: { rowStatus: '正常' },
              orderBy: [{ column: 'deptName', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.deptList = rows;
      },
      // =================================uiAction 公共方法 end ======================================
      async openConsumeHistoryDialog({ item, consumeHistoryViewType }) {
        this.updateItem = item;
        this.isConsumeHistoryDrawerShow = true;
        this.consumeHistoryViewType = consumeHistoryViewType;
      },
      async prepareOutData({ item }) {
        this.outItem = { ...item, remark: null, };
      },
      async openOutDialog() {
        this.isOutDrawerShow = true;
      },
      async confirmOutConsumeDialog() {
        if (await window.confirmDialog({ title: "出库", content: "确定出库吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doOutWarehouse() {
        const { id, consumeId, consumeOperationCount, consumeOperationUser, consumeOperationDeptId, remark } = this.outItem;
        await window.vtoast.loading("消耗品出库");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'consumeOutWarehouse',
              actionId: 'consumeOutWarehouse',
              actionData: { consumeId, consumeOperationCount, consumeOperationUser, consumeOperationDeptId, remark },
            }
          }
        })
        await window.vtoast.success("消耗品出库成功");
      },
      async closeDrawerShow() {
        this.isOutDrawerShow = false;
      },

    }
  })
</script>

<style>
  .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr>td:not(.v-data-table__mobile-row) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
  }

  .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr {
    cursor: pointer;
  }
</style>
{% endblock %}