<template id="dept-management-user">

  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
    <v-card>
      <v-row class="ma-0 pa-4"
        >

        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
          <v-btn color="success" dark class="elevation-0 mr-2"
            @click="doUiAction('startCreateItemTable')">部门-新增员工</v-btn>
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
          <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table fixed-header :headers="headers" height="350" :items="tableData" :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}" :items-per-page="50" mobile-breakpoint="0"
        :loading="isTableLoading" checkbox-color="success"
        class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        <template v-slot:item.action="{ item }">
          <span
              role="button" class="success--text font-weight-medium font-size-2 mr-2"
              @click="doUiAction('startUpdateItem', {item})">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span>
          <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
        </template>
        <template v-slot:item.operation-at="{ item }">

          {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}

        </template>
      </v-data-table>
    </v-card>


    <!-- 新增列表 -->
    <v-navigation-drawer v-model="isAddTableDrawerShow" hide-overlay :permanent="isAddTableDrawerShow" fixed temporary
      right width="80%" class="elevation-24">
      <v-row class="pt-8" class="mt-0 px-4">
        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
          <v-btn color="success" dark class="elevation-0 mr-2"
            @click="doUiAction('startCreateItemTable')">部门-新增员工</v-btn>
          <span class="body-2">共{{ drawerTableData.length }}条记录</span>
        </v-col>
        <v-spacer></v-spacer>
        <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
          <v-text-field v-model="addTableSearchInput" label="表格过滤" class="jh-v-input" dense filled
            single-line></v-text-field>
        </v-col>
        <v-btn class="mt-0 elevation-0" fab x-small @click="isAddTableDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row class="mt-0 px-4">
        <v-data-table fixed-header height="500" :headers="drawerHeaders" :items="drawerTableData"
          :search="addTableSearchInput" item-key="userId" :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
          :items-per-page="50" mobile-breakpoint="0" :loading="isAddTableLoading" checkbox-color="success"
          class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.action="{ item }">
            <v-btn small dark class="success" @click="doUiAction('startCreateItem', item)">新增
            </v-btn>
          </template>

        </v-data-table>
      </v-row>
    </v-navigation-drawer>

    <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="60%"
      class="elevation-24">
      <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">新增信息</span>
          <v-spacer></v-spacer>
          <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
            @click="isCreateDrawerShown = false">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <v-row class="mt-0 px-4">

          <!-- <v-col cols="12" sm="12" md="4">
          <span class="jh-input-label">用户</span>
          <v-select v-model="addItem.userId" :items="userList" dense filled item-text="username" item-value="userId"></v-select>
        </v-col> -->


          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">角色名称</span>
            <v-select v-model="addItem.roleName" :items="constantObj.role" dense filled></v-select>
          </v-col>

        </v-row>
        <v-row class="justify-end pr-6">
          <v-btn color="success" @click="doUiAction('createItem')"
            :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}"
            :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
          <v-btn class="ml-2" @click="isCreateDrawerShown = false"
            :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
        </v-row>
      </v-form>
    </v-navigation-drawer>



    <!-- 编辑抽屉 -->
    <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%"
      class="elevation-24">
      <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">编辑信息</span>
          <v-spacer></v-spacer>
          <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
            @click="isUpdateDrawerShown = false">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <v-row class="mt-0 px-4">

          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">用户</span>
            <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['userId']"
              disabled="true"></v-text-field>
          </v-col>

          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">角色名称</span>
            <v-select v-model="updateItem.roleName" :items="constantObj.role" dense filled></v-select>
          </v-col>

        </v-row>
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
          <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
        </v-row>
      </v-form>
    </v-navigation-drawer>
  </v-container>

</template>


<script type="module">
  Vue.component('dept-management-user', {
    template: '#dept-management-user',
    vuetify: new Vuetify(),
    props: ['deptId'],
    data: () => ({
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantObj: {
        role: [
          { text: '部门员工', value: '部门员工' },
          { text: '部门经理', value: '部门经理' },
          { text: '总监', value: '总监' },
        ]
      },

      serverSearchInput: {
        studentId: null,
        classId: null
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "用户名称", value: "username", width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "角色名称", value: "roleName", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operation-at", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      isUpdateDrawerShown: false,
      updateItem: {},
      isCreateDrawerShown: false,
      addItem: {},
      userList: [],
      isAddTableDrawerShow: false,
      drawerHeaders: [
        { text: "用户ID", value: "userId" },
        { text: "用户名", value: "username" },
        { text: "操作", value: "action", align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      addTableSearchInput: null,
      isAddTableLoading: true,
      drawerTableDataFromBackend: [],
      drawerTableData: [],
      drawerItemSelectedList: []
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {
      deptId() {
        this.doUiAction('refreshTableData');
      }
    },
    async created() {
      await Promise.all([
        this.doUiAction('refreshTableData'),
        this.doUiAction('getUserList'),
      ])
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'getUserList':
            await this.getUserList();
            break;
          case 'startCreateItemTable':
            await this.refreshAddTableData();
            await this.buildAddTableData();
            await this.openAddTableDialog();
            break;
          case 'startCreateItem':
            await this.prepareCreateItemData(uiActionData);
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.prepareValidate();
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            await this.buildAddTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.prepareValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'userDept-selectItemList',
              actionData: {},
              where: { deptId: this.deptId },
              whereLike: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      // =================================uiAction 公共方法 end ======================================


      /**
       * uiActionId:  refreshAddTableData
       * description: ✅获取内表格数据
       * main:   [{"function":"refreshAddTableData"}]
       */
      async refreshAddTableData() {
        this.drawerTableData = [];
        this.isAddTableLoading = true;
        this.drawerSearchInput = ''
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'user-selectDrawerItemList',
              where: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        this.drawerTableDataFromBackend = result.data.appData.resultData.rows;
        this.isAddTableLoading = false;
        this.drawerItemSelectedList = []
      },
      buildAddTableData() {
        if (_.isEmpty(this.drawerTableDataFromBackend)) {
          this.drawerTableData = [];
        } else {
          this.drawerTableData = _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'userId');
        }
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async prepareCreateItemData(uiActionData) {
        this.addItem = { userId: uiActionData.userId };
      },
      async openAddTableDialog() {
        this.isAddTableDrawerShow = true;
      },
      async openCreateItemDialog() {
        this.isCreateDrawerShown = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        data.deptId = this.deptId
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'userDept-insertItem',
              actionData: data
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },
      async closeDrawerShow() {
        this.isUpdateDrawerShown = false;
        this.isCreateDrawerShown = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        this.updateItem = { ...item };
      },
      async openUpdateDialog() {
        this.isUpdateDrawerShown = true;
      },
      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doUpdateItem() {
        const { id, username, deptName, ...data } = this.updateItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'userDept-updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'userDept-deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      async getUserList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'deptManagement',
              actionId: 'user-selectItemList',
              actionData: {},
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        this.userList = rows
      }
    }
  })
</script>

<style scoped>
</style>