<template id="goodManagement-supplierGood">
  <div>
    <v-card class="rounded-lg">
      <v-row class="ma-0 pa-4">
        <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
          <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">商品-新增供应商</v-btn>
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
          <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
        </v-col>
      </v-row>
      <v-data-table fixed-header height="350" :headers="headers" :items="tableData" :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}" :items-per-page="50" mobile-breakpoint="0"
        :loading="isTableLoading" checkbox-color="success"
        class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
        <template v-slot:item.supplierName="{ item }">
          <v-tooltip Bottom>
            <template v-slot:activator="{ on, attrs }">
              <p v-bind="attrs" v-on="on" small class=" success"
                @click="doUiAction('updateGoodPriceHistoryItem', {item})"
                @mouseenter="doUiAction('showGoodPriceHistoryTip', {item})">{{item.supplierName}}</p>
            </template>
            <div v-if="!isGoodPriceLoading">
              <p v-for="item in goodPriceHistoryData" :key="item.id">{{item.goodPrice}}</p>
            </div>
            <div v-else>加载中...</div>
          </v-tooltip>
        </template>
        <template v-slot:item.action="{ item }">
          <span
              role="button" class="success--text font-weight-medium font-size-2 mr-2"
              @click="doUiAction('startUpdateItem', {item})">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span>
          <v-btn small class=" success" @click="doUiAction('updateGoodPriceHistoryItem', {item})">历史报价</v-btn>
          <row-status-switch-button :value="item.rowStatus"
            @update-value="doUiAction('rowStatusChange', { item, rowStatus: $event })" />

        </template>
        <template v-slot:item.operation-at="{ item }">
          {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
        </template>

        <!-- 没有数据 -->
        <template v-slot:loading>
          <div class="jh-no-data">数据加载中</div>
        </template>
        <template v-slot:no-data>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <template v-slot:no-results>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <!-- 表格分页 -->
        <template v-slot:footer.page-text="pagination">
          <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
          <span class="ml-1">共{{pagination.itemsLength}}条</span>
        </template>
      </v-data-table>
    </v-card>

    <!-- 新增 -->
    <v-navigation-drawer v-model="isCreateDrawerShown" hide-overlay :permanent="isCreateDrawerShown" fixed temporary right
      width="80%" class="elevation-24">
      <v-row>
        <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">{{goodName}}</span>
      </v-row>
      <v-container class="navDrawerContainer">
        <v-row class="pt-2" :class="{'px-4': isMobile, 'px-12': !isMobile}">
          <v-btn class="mt-0" dark color="success" elevation="0" @click="doUiAction('allotItem')">添加供应商</v-btn>
          <v-spacer></v-spacer>
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field v-model="drawerSearchInput" label="表格过滤" class="jh-v-input" dense filled
              single-line></v-text-field>
          </v-col>
        </v-row>
        <v-row class="pa-2 py-0">
          <v-data-table show-select checkbox-color="success" :headers="drawerHeaders" fixed-header height="500"
            :search="drawerSearchInput" :loading="isDrawerTableLoading" :items="drawerTableData" item-key="supplierId"
            :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}" :items-per-page="50" mobile-breakpoint="0"
            @toggle-select-all="drawerToggleSelectAll" v-model="drawerItemSelectedSupplier"
            class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
            :class="{'px-2': isMobile, 'px-8': !isMobile}">
            <template v-slot:item.action="{ item }">
              <v-btn small dark class="success" @click="doUiAction('buildRelation', {item})">新增
              </v-btn>
            </template>

            <!-- 没有数据 -->
            <template v-slot:loading>
              <div class="jh-no-data">数据加载中</div>
            </template>
            <template v-slot:no-data>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <template v-slot:no-results>
              <div class="jh-no-data">暂无数据</div>
            </template>
            <!-- 表格分页 -->
            <template v-slot:footer.page-text="pagination">
              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
              <span class="ml-1">共{{pagination.itemsLength}}条</span>
            </template>
          </v-data-table>
        </v-row>
      </v-container>
    </v-navigation-drawer>


    <!-- 编辑抽屉 -->
    <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%"
      class="elevation-24">
      <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6"
            :class="{'pl-12': !isMobile, 'pl-6': isMobile}">【{{updateItem.supplierName}}-{{updateItem.goodName}}】编辑信息</span>
          <v-spacer></v-spacer>
          <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
            @click="isUpdateDrawerShown = false">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <v-row class="mt-0 px-4">

          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">备注</span>
            <v-textarea class="jh-v-input " dense filled single-line v-model="updateItem['remark']"></v-textarea>
          </v-col>
        </v-row>
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
          <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
        </v-row>
      </v-form>
    </v-navigation-drawer>

    <!-- 历史报价抽屉 -->
    <v-navigation-drawer v-model="isHistoryDrawerShow" hide-overlay :permanent="isHistoryDrawerShow" fixed temporary
      right width="80%" class="elevation-24">
      <v-form v-model="isFormValid" v-if="isHistoryDrawerShow" ref="form" lazy-validation>
        <v-row class="pt-8">
          <span class="title pa-6"
            :class="{'pl-12': !isMobile, 'pl-6': isMobile}">【{{updateItem.supplierName}}-{{updateItem.goodName}}】商品报价</span>
          <v-spacer></v-spacer>
          <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
            @click="doUiAction('closeHistoryDrawerShow')">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </v-row>
        <supplier-good-price-history :good-id="updateItem.goodId"
          :supplier-id="updateItem.supplierId"></supplier-good-price-history>
      </v-form>
    </v-navigation-drawer>

  </div>
</template>

<script type="module">
  Vue.component("goodManagement-supplierGood", {
    template: '#goodManagement-supplierGood',
    props: ['goodId', 'goodName'],
    vuetify: new Vuetify(),
    data: () => ({
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantObj: {
      },

      searchInput: null,
      drawerSearchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "供应商ID", value: "supplierId", width: 120 },
        { text: "供应商名称", value: "supplierName", width: 120 },
        { text: "供应商类型", value: "supplierType", width: 100 },
        { text: "供应商地址", value: "supplierAddress", width: 150 },
        { text: "供应商门户网站", value: "supplierHome", width: 150 },
        { text: "商品最近价格", value: "goodPriceRecent", width: 30 },
        { text: "供应商联系人1", value: "supplierPerson1", width: 150 },
        { text: "供应商联系人1-电话", value: "supplierContact1", width: 150 },
        { text: "供应商联系人2", value: "supplierPerson2", width: 150 },
        { text: "供应商联系人2-电话", value: "supplierContact2", width: 150 },
        { text: "备注", value: "remark", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operation-at", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed' },
      ],
      isUpdateDrawerShown: false,
      updateItem: {},
      isCreateDrawerShown: false,
      addItem: {},
      drawerHeaders: [
        { text: "供应商ID", value: "supplierId", width: 150 },
        { text: "供应商名称", value: "supplierName", width: 150 },
        { text: "供应商地址", value: "supplierAddress", width: 150 },
        { text: "供应商门户网站", value: "supplierHome", width: 150 },
        { text: "供应商联系人1", value: "supplierPerson1", width: 150 },
        { text: "供应商联系人1-电话", value: "supplierContact1", width: 150 },
        { text: "供应商联系人2", value: "supplierPerson2", width: 150 },
        { text: "供应商联系人2-电话", value: "supplierContact2", width: 150 },
        { text: "备注", value: "remark", width: 250 },
      ],
      isDrawerTableLoading: true,
      drawerTableData: [],
      drawerTableDataFromBackend: [],
      drawerItemSelectedSupplier: [],
      isGoodPriceLoading: false,
      isHistoryDrawerShow: false,
      goodPriceHistoryData: []
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {
      goodId() {
        this.doUiAction('refreshTableData');
        this.doUiAction('getDrawerTableData')
      },
    },
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            await this.getDrawerTableData();
            await this.buildDrawerTableData();
            break;
          case 'allotItem':
            await this.confirmCreateItemDialog();
            await this.doAllotItem();
            await this.refreshTableData();
            await this.getDrawerTableData();
            await this.buildDrawerTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.prepareValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            await this.closeDrawerShow();
            break;
          case 'getDrawerTableData':
            await this.getDrawerTableData();
            await this.buildDrawerTableData();
            break;
          case 'updateGoodPriceHistoryItem':
            await this.prepareItemData(uiActionData);
            await this.openGoodPriceHistoryDrawer();
            await this.updateGoodPriceHistoryItem(uiActionData);
            break;
          case 'closeHistoryDrawerShow':
            await this.closeHistoryDrawerShow();
            await this.refreshTableData();
            break;
          case 'showGoodPriceHistoryTip':
            await this.showGoodPriceHistoryTip(uiActionData);
            break;
          case 'rowStatusChange':
            await this.rowStatusChange(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-selectItemList',
              actionData: {},
              where: { goodId: this.goodId },
              orderBy: [{ column: 'supplierId', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      // =================================uiAction 公共方法 end ======================================


      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
        this.drawerItemSelectedSupplier = [];
      },
      async openCreateItemDialog() {
        this.isCreateDrawerShown = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-insertItem',
              actionData: data
            },

          }
        })
        await window.vtoast.success("新增数据成功");
      },
      async closeDrawerShow() {
        this.isUpdateDrawerShown = false;
        this.isCreateDrawerShown = false;
      },

      async closeHistoryDrawerShow() {
        this.isHistoryDrawerShow = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        this.updateItem = { ...item };
      },
      async openUpdateDialog() {
        this.isUpdateDrawerShown = true;
      },

      async openGoodPriceHistoryDrawer() {
        this.isHistoryDrawerShow = true;
      },
      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doUpdateItem() {
        const { id, supplierName, goodName, goodDesc, ...data } = this.updateItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      drawerToggleSelectAll({ items, value }) {
        if (value) {
          this.drawerItemSelectedSupplier = items;
        } else {
          this.drawerItemSelectedSupplier = [];
        }
      },
      // 获取所有供应商的数据
      /**
       * uiActionId:  getDrawerTableData
       * description: ✅获取内表格数据
       * main:   [{"function":"getDrawerTableData"}]
       */
      async getDrawerTableData() {
        this.drawerTableData = [];
        this.isDrawerTableLoading = true;
        this.drawerSearchInput = ''
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'supplierManagement',
              actionId: 'selectItemList',
              where: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        this.drawerTableDataFromBackend = result.data.appData.resultData.rows;
        this.isDrawerTableLoading = false;
        this.drawerItemSelectedSupplier = []
      },
      buildDrawerTableData() {
        if (_.isEmpty(this.drawerTableDataFromBackend)) {
          this.drawerTableData = [];
        } else {
          this.drawerTableData = _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'supplierId');
        }
      },
      async doAllotItem() {
        for (let i = 0; i < this.drawerItemSelectedSupplier.length; i++) {
          window.vtoast.loading(`正在新增 第${i + 1}个`);
          const { supplierId } = this.drawerItemSelectedSupplier[i];
          await this.buildRelationImpl(supplierId);
        }
        window.vtoast.success("批量新增成功");
        this.drawerItemSelectedSupplier = [];
      },
      /**
       * uiActionId:  buildRelation
       * description: ✅获取表格数据
       * main:   [{"function":"doBuildRelation"}]
       */
      async doBuildRelation({ item: { supplierId } }) {
        window.vtoast.loading("正在新增");
        await this.buildRelationImpl(supplierId);
        window.vtoast.success("新增成功");
      },
      async buildRelationImpl(supplierId) {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-insertItem',
              actionData: { goodId: this.goodId, supplierId },

            }
          }
        });
      },
      async getSupplierGoodPriceHistoryList() {
        this.goodPriceHistoryData = [];
        this.isGoodPriceLoading = true;
        const { goodId, supplierId } = this.updateItem
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'supplierGoodPriceHistoryManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: { goodId, supplierId },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.goodPriceHistoryData = rows;
        this.isGoodPriceLoading = false;
      },
      async showGoodPriceHistoryTip(uiActionData) {
        this.updateItem = uiActionData.item;
        await this.getSupplierGoodPriceHistoryList();
      },
      updateGoodPriceHistoryItem(uiActionData) {
        this.$emit('update-good-price-history-item', uiActionData.item);
      },
      async rowStatusChange({ item, rowStatus }) {
        if (await window.confirmDialog({ title: "数据状态", content: `确定将数据修改为【${rowStatus}】吗？` }) === false) {
          throw new Error("rowStatus 取消");
        }
        await window.vtoast.loading("修改数据状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'goodManagement',
              actionId: 'supplierGood-updateItem',
              actionData: { rowStatus },
              where: { id: item.id }
            }
          }
        });
        item.rowStatus = rowStatus;
        await window.vtoast.success("修改数据状态成功");
      }
    }
  })
</script>